<% content_for :title, "Business Profile" %>
						<div class="profile-box">
							<p class="subttl"><span>Hold your mouse pointer over any of the</span> <span class="inf" title="This is what it will look like">icons </span>to see a detailed explanation of the corresponding field</p>
							<!-- two-columns -->
							<div class="two-columns">
								<div class="t"></div>
								<div class="c">
									<!-- holder -->
									<div class="holder">
										<!-- l-side -->
										<div class="l-side">
											<!-- ttl-holder -->
											<div class="ttl-holder">
												<%= render :partial => 'location_select' %>
														<%= render :partial => 'location_form' %>
										</div>
										<!-- r-side -->
										<div class="r-side">
											<!-- ttl-holder -->
											<div class="ttl-holder">
												<h2>Business Profile</h2>
												<span class="inf" title="This section is for managing your account"></span>
											</div>
											<div class="bottom">
												<div class="bussiness-form">
													<%= render :partial => 'business_user_form' %>
												</div><!-- /bussiness-form end -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- /profile-box end -->