<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smartvark</title>
        <%= render :partial => 'welcome/common_header' %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="#">Smartvark</a></h1>
				<div class="account-area">
					<!-- holder -->
					<div class="holder">
						<strong class="ttl">Welcome <span>Merchant!</span></strong>
					</div>
					<div class="frame">
					<ul class="menu">
						<li><a href="#">deal dashboard</a></li>
						<li><a href="#">business profile</a></li>
					</ul>
					</div>
				</div><!-- /account-area end -->
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
						<div class="profile-box">
							<p class="subttl"><span>Hold your mouse pointer over any of the</span> <span class="inf">icons </span>to see a detailed explanation of the corresponding area</p>
							<!-- two-columns -->
							<div class="two-columns">
								<div class="t"></div>
								<div class="c">
									<!-- holder -->
									<div class="holder">
										<!-- l-side -->
										<div class="l-side">
											<!-- ttl-holder -->
											<div class="ttl-holder">
												<h2>Location Profile</h2>
												<div class="location-form">
													<form action="#">
														<fieldset>
															<select class="sel">
																<option>Location</option>
															</select>
															<a href="#" class="inf">Info</a>
														</fieldset>
													</form>
												</div><!-- /location-form end -->
                                                                                              </div>
                                                                                              <%= render :partial => 'form' %>
                                                                                </div>
										<!-- r-side -->
										<div class="r-side">
											<!-- ttl-holder -->
											<div class="ttl-holder">
												<h2>Business Profile</h2>
												<a href="#" class="inf">Info</a>
											</div>
											<div class="bottom">
												<div class="bussiness-form">
													<form action="#">
														<fieldset>
															<label for="lb13"><span>Name</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb13" class="txt" type="text" value="" />
															</div>
															<!--
															<label for="lb14"><span>Address 1</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb14" class="txt" type="text" value="" />
															</div>
															<label for="lb15"><span>Address 2</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb15" class="txt" type="text" value="" />
															</div>
															<label for="lb16"><span>City</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb16" class="txt" type="text" value="" />
															</div>
															<div class="row">
																<div class="l-col">
																	<label for="lb17">State</label>
																	<div class="row">
																		<select id="lb17" class="sel">
																			<option>State</option>
																		</select>
																	</div>
																</div>
																<div class="r-col">
																	<label for="lb18">Zip Code</label>
																	<div class="row"><input id="lb18" class="txt" type="text" value="" /></div>
																</div>
															</div>

															<label for="lb19"><span>Phone</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb19" class="txt" type="text" value="" />
															</div>
															-->
															<label for="lb20"><span>Email</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb20" class="txt" type="text" value="" />
															</div>
															<label for="lb21"><span>Password</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb21" class="txt" type="text" value="" />
															</div>
															<label for="lb22"><span>Confirm Password</span><span class="inf">Info</span></label>
															<div class="row">
																<input id="lb22" class="txt" type="text" value="" />
															</div>
															<label for="lb23"><span>Upload logo</span><span class="inf">Info</span></label>
															<div class="row">
															  <input class="txt" type="file" size="13" id="lb23">
															</div>
															<div class="row">
																<div class="btns-holder">
																	<div class="btns">
																		<input class="btn-save" type="submit" value="Save" />
																		<input class="btn-cancel" type="submit" value="Cancel" />
																	</div>
																</div>
															</div>
														</fieldset>
													</form>
												</div><!-- /bussiness-form end -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- /profile-box end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer">
		<ul>
			<li><a href="#">what’s a smartvark anyway?</a></li>
			<li><a href="#">what about my privacy?</a></li>
			<li><a href="#">contact</a></li>
			<li><a href="#">twitter</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">smartvark for business</a></li>
		</ul>
		<p>&copy; 2010  Smartvark, Inc.</p>
	</div>
</body>
</html>
