html,body,iframe {
  border:0;
  margin:0;
  padding:0;
  height: 100%;}

body {
  background: #FFFFFF;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif; }

a img {border:none;}

#smartvark-bar {
  position: absolute;
  height: 28px;
  width: 100%;
  background-color: #238ECB;
  text-align: center;
  z-index: 1234;
  border-bottom: 3px solid #CCCCCC; }
#smartvark-bar a {
  display: block;
  color: white;
  text-decoration: none;}
#smartvark-bar a:hover, #smartvark-bar a:active, #smartvark-bar a:visited {
  color: white;
  text-decoration: none; }
#smartvark-bar span{float:left;}

.bar-element {
  position: relative;
  height: 100%;
  float: left;
  color: white;
  font-size: 11px;
  font-weight: bold;
  overflow: visible;
  padding: 0 7px 0px 7px;
  border-right: 1px solid #4CB0D0; }
.bar-element:hover, #close-button:hover {
  background-color: #4CB0D0;
  border-bottom: 3px solid #333333; }

#smartvark-logo {
  background: url(/images/smartvarklogo_bar.png) no-repeat 0 2px;
  padding-bottom: 6px;
  padding-right: 0;
  width: 133px;
  height: 22px;
  z-index: 3;
  overflow: visible;
  border-right: none; }

#tagline {padding-left: 3px;}

#close-button {
  height: 28px;
  width: 29px;
  background: url(/images/x.png) no-repeat 0 1px;
  float: left;
  cursor: pointer; }
.rate {
  padding:0;
  height:100%;
  width:30px;
  text-align:center;}
.rate img{padding-top:4px;}
.bar-right {float: right;}
.social {
  padding:3px 0 0 6px;
  height:25px;
  border:none;}

#smartvark-frame {
  width: 100%;
  height: 100%;
  overflow: hidden; }
#smartvark-frame .spacer {
  background: #FFFFFF;
  height: 30px;
  width: 100%; }

#offer-frame {
  width: 100%;
  border-width: 0px; }
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }

.tipsy-arrow { position: absolute; width: 0; height: 0; border: 5px solid transparent; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow { top: 0; border-top: none; }
.tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { bottom: 0; border-bottom: none; }
.tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { left: 50%; margin-left: -5px; }
.tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { left: 10px; }
.tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { right: 10px; }
.tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { top: 50%; margin-top: -5px; }
.tipsy-e .tipsy-arrow { right: 0; border-right: none; }
.tipsy-w .tipsy-arrow { left: 0; border-left: none; }

.one-liner {line-height:28px;}
form, fieldset{
  margin:0;
  padding:0;
  border-style:none;
}
/* simplemodal popup */
.popup{
  background:#238ecb;
  border:10px solid #56b1e5;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display:none;
  width:236px;
  padding:0 12px;
  overflow:auto;
}
#simplemodal-overlay{background-color:#000;}
.popup h3{
  margin:0;
  font:bold 20px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#fff;
  text-align:center;
}
.popup p, .popup ul{color:#FFF;}
.popup a{
    color:#FFF;
    text-decoration:underline;
}
.popup a:hover{text-decoration:none;}
.popup-row{
  width:100%;
  overflow:hidden;
  margin:0 0 10px;
}
.popup .txt{
  float:left;
  width:210px;
  font:14px Arial, Helvetica, sans-serif;
  border:1px solid #999;
  padding:4px 12px;
  margin:0;
}
.popup-buttons{
  overflow:hidden;
  height:1%;
  padding:6px 24px 3px 19px;
}
.contract-popup{
  width:800px;
  height:90%;
}
.btn-signin{
  float:left;
  background:url(/images/btn-sign-in.gif) no-repeat;
  width:70px;
  height:27px;
  text-indent:-9999px;
  line-height:0;
  border:0;
  cursor:pointer;
  padding:0;
}
.btn-signup{
  float:left;
  background:url(/images/btn-sign-up.gif) no-repeat;
  width:70px;
  height:27px;
  text-indent:-9999px;
  line-height:0;
  border:0;
  cursor:pointer;
  padding:0;
}
.btn-signin-cancel{
  float:right;
  /*background:url(/images/btn-cancel3.gif) no-repeat;*/
  background-color:#238ecb;
  color:#CCC;
  width:70px;
  height:27px;
  line-height:0;
  border:0;
  cursor:pointer;
  padding:0;
}
a.facebook-signin-big{
  background:url(/images/btn-fb-connect-large.png) no-repeat;
  width:300px;
  height:50px;
  text-indent:-9999px;
  line-height:0;
  border:0;
  float:right;
}
a.facebook-signin{
  background:url(/images/btn-fb-connect-small.png) no-repeat;
  width:200px;
  height:33px;
  text-indent:-9999px;
  line-height:0;
  border:0;
  float:left;
  margin-left:18px;
}
.remember{
  margin:0px auto;
  overflow:hidden;
}
.popup .chk{
  float:left;
  margin:4px 4px 0 0;
  padding:0;
  width:16px;
  height:15px;
}
.popup label{
  float:left;
  font:14px/22px Arial, Helvetica, sans-serif;
  color:#fff;
}
/* progress-bar */
.progress-bar{
  float:left;
  background:url(/images/progress-bar.gif) no-repeat;
  width:128px;
  height:25px;
}
.progress-bar span{
  display:block;
  height:25px;
  background:url(/images/progress-bar.gif) no-repeat 0 100%;
  text-indent:-9999px;
  font-size:0;
  line-height:0;
}
#simplemodal-container a.modalCloseImg{
  background:url(/images/x.png) no-repeat;
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}