.flash-holder {
	float:left;
	margin:-10px 0 0 60px;
	padding-top:5px;
	width:300px;
	text-align:center;
	color:white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display:none;
	-moz-box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
#flash-notice {
    background:green;
	border:10px solid green;
}
#flash-alert {
    background:red;
	border:10px solid red;
}
.archived  {
  background-color: #DDD;
}
.draft {
  color: #F90;
}
.tryit-box {
	background:url(../images/bg-welcome-box.gif) no-repeat;
	background-position: 0 -42px;
	width:848px;
	height:100px;
	overflow:hidden;
	padding:0 0 15px 14px;
	margin:0 0 25px;
}
.tryit-box .text {
	float:left;
	width:512px;
	font:16px/19px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	padding:53px 20px 0;
}
.tryit-box .text p {margin:0;}
.tryit-box .promo-box {
	float:right;
	width:262px;
	padding:50px 22px 0 0;
}
.tryit-box .promo-box .ttl-give-a-try {
	float:left;
	text-indent:-9999px;
	background:url(../images/ttl-give-a-try.gif) no-repeat;
	width:113px;
	height:59px;
	margin:0 6px 0 0;
}
.tryit-box .promo-box .btn-show-deals {
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-show-deals.gif) no-repeat;
	width:143px;
	height:59px;
}

.tryit-box .text-input{
	width:125px;
	height:16px;
	float:left;
	display:inline;
	background:#f7f8f8;
	border:1px solid #7abadf;
	padding:5px 8px;
	margin:0 0 0 7px;
	font:14px/16px Arial, Helvetica, sans-serif;
}

.tryit-box .placeholder{
	width:125px;
	height:16px;
	float:left;
	display:inline;
	background:#f7f8f8;
	border:1px solid #7abadf;
	padding:5px 8px;
	margin:0 0 0 7px;
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#999;
}

.tryit-box .button{
	float:left;
	display:inline;
	margin:0 0 0 11px;
}
/* general */
html,body {height:100%;}
body{
	margin:0;
	color:#666;
	font:12px/13px Arial, Helvetica, sans-serif;
	background:#e0eef8 url(../images/bg-body.gif) repeat-x;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#238ecb;
}
a:hover{text-decoration:underline;}
a:focus{outline:none;}
input, textarea, select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	margin:0;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
table{border-collapse:collapse;}
td, th{padding:0;}
/* wrapper */
#wrapper {
	width:878px;
	margin:0 auto;
	min-height:100%;
}
* html #wrapper {height:100%;}
.wrapper-holder {padding:0 0 49px;}
/*header */
#header {
	position:relative;
	width:100%;
	height:83px;
	z-index:10;
}
.logo {
	margin:0;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:487px;
	height:116px;
	top:20px;
	left:-7px;
}
.logo a {
	display:block;
	background:url(../images/logo.png) no-repeat;
	width:487px;
	height:116px;
	cursor:pointer;
}
/* main */
#main {
	width:100%;
	background:url(../images/bg-main.gif) no-repeat 100% 100%;
	padding:0 0 9px;
	margin:0 0 27px;
}
.main-holder {background:url(../images/bg-main.gif) repeat-y -878px 0;}
.main-frame {
	background:url(../images/bg-main.gif) no-repeat;
	padding:1px 1px 4px 15px;
	width:862px;
}
.main-frame .filter-results {
    text-align:center;
    font:bold 19px/19px Arial, Helvetica, sans-serif;
    color:#fff;
    text-shadow: 1px 1px 1px #CCC;
}
/* welcome-box */
.welcome-box {
	background:url(../images/bg-welcome-box.gif) no-repeat;
	width:848px;
	height:142px;
	overflow:hidden;
	padding:0 0 15px 14px;
	margin:0 0 25px;
}
.welcome-box .text {
	float:left;
	width:512px;
	font:16px/19px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	padding:53px 20px 0;
}
.welcome-box .text p {margin:0;}
.welcome-box .promo-box {
	float:right;
	width:262px;
	padding:50px 22px 0 0;
}
.welcome-box .promo-box .ttl-give-a-try {
	float:left;
	text-indent:-9999px;
	background:url(../images/ttl-give-a-try.gif) no-repeat;
	width:113px;
	height:59px;
	margin:0 6px 0 0;
}
.welcome-box .promo-box .btn-show-deals {
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-show-deals.gif) no-repeat;
	width:143px;
	height:59px;
}
.search{
	width:100%;
	overflow:hidden;
	margin:0 0 28px;
}
.search-holder{
	float:right;
	padding:23px 12px 0 0;
}
.search form,
.search fieldset{float:left;}
.search .text{
	width:125px;
	height:16px;
	float:left;
	display:inline;
	background:#f7f8f8;
	border:1px solid #7abadf;
	padding:5px 8px;
	margin:0 0 0 7px;
	font:14px/16px Arial, Helvetica, sans-serif;
}
.search .placeholder{
	width:125px;
	height:16px;
	float:left;
	display:inline;
	background:#f7f8f8;
	border:1px solid #7abadf;
	padding:5px 8px;
	margin:0 0 0 7px;
	color:#999;
	font:14px/16px Arial, Helvetica, sans-serif;
}
.search .button{
	float:left;
	margin:0 0 0 11px;
	width:74px;
	height:28px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	cursor:pointer;
	background:url(../images/btn-search.gif) no-repeat;
}
.nav{
	width:100%;
	overflow:hidden;
	position:relative;
	padding:0 0 9px;
	margin:-9px 0 0;
}
.nav div{
	float:left;
	position:relative;
	left:50%;
}
.nav ul{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	left:-50%;
	position:relative;
	height:33px;
	font:bold 18px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.nav ul li{
	float:left;
	border-left:1px solid #fff;
}
.nav ul li:first-child{border:0;}
.nav ul .first{background:url(../images/bg-nav.gif) no-repeat 0 -33px;}
.nav ul .last{background:url(../images/bg-nav.gif) no-repeat 100% -66px;}
.nav ul a{
	color:#fff;
	float:left;
	background:url(../images/bg-nav.gif) repeat-x;
}
.nav ul a span{
	padding:6px 14px;
	height:21px;
	float:left;
	cursor:pointer;
}
.nav ul .active a,
.nav ul a:hover{
	text-decoration:none;
	background:url(../images/bg-nav.gif) repeat-x 0 -99px;
}
.nav ul .active .first,
.nav ul a:hover .first{background:url(../images/bg-nav.gif) no-repeat 0 -132px;}
.nav ul .active .last,
.nav ul a:hover .last{background:url(../images/bg-nav.gif) no-repeat 100% -165px;}

/* wide-box */
.wide-box {
	width:847px;
	background:url(../images/bg-wide-box.gif) repeat-y -847px 0;
	margin:0 0 0 2px;
}
.wide-box .holder {background:url(../images/bg-wide-box.gif) no-repeat;}
.wide-box .frame {
	background:url(../images/bg-wide-box.gif) no-repeat 100% 100%;
	padding:11px 0 24px 14px;
	width:833px;
}
.wide-box h2 {
	margin:0 0 31px;
	font: normal 24px/28px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#2264a6;
	text-shadow: 2px 1px 2px #CCC;
}
/* promo-section */
.promo-section {
	overflow:hidden;
	width:814px;
	display:table;
	padding:0 0 0 18px;
}
* html .promo-section {
	display:block;
	width:900px;
	margin-right:-100px;
}
* + html .promo-section {
	display:block;
	width:900px;
	margin-right:-100px;
}
.promo-section .item {
	margin:0 44px 0 0;
	display:table-cell;
	height:100%;
	vertical-align:middle;
}
* html .promo-section .item {
	float:left;
	height:181px;
}
* + html .promo-section .item {
	float:left;
	height:181px;
}
.promo-section a {float:left;}
.promo-section .item img {
	display:block;
	border:1px solid #b0b0b0;
}
#main .wrap {width:100%;}
#main .wrap:after {
	content:"";
	clear:both;
	display:block;
}
/* content */
#content {
	float:left;
	background:url(../images/bg-content.gif) repeat-y -578px 0;
	width:578px;
}
.content-holder {background:url(../images/bg-content.gif) no-repeat;}
.content-frame {
	background:url(../images/bg-content.gif) no-repeat 100% 100%;
	padding:9px 0 0 21px;
	width:557px;
	min-height:399px;
}
* html .content-frame {height:399px;}
#content h2 {
	padding:0 0 16px;
	margin:0;
	font:normal 26px/32px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#1b7ddf;
	overflow:hidden;
	white-space:nowrap;
	text-shadow: 2px 1px 2px #CCC;
}
/* search-results */
.search-results .title {
	color:#ff5e00;
	font-size:16px;
	height:18px;
	display:block;
	margin:0 0 12px;
}
.search-results .title span {font-weight:normal;}
.search-results .item {
	overflow:hidden;
	padding:0 0 15px 4px;
	line-height:16px;
	width:540px;
}
.search-results .item .text {
	float:left;
	width:370px;
}
.search-results .item .text h3 {
	color:#238ecb;
	font-size:16px;
	line-height:16px;
	margin:0 0 1px;
}
.search-results .item .text h3 span {display:block;}
.search-results .item .text p {
	margin:0;
}
.search-results .item .address {
	font-style:normal;
	float:right;
	width:130px;
}
.search-results .item .address span {display:block;}
/* aside */

.aside {
	float:right;
	width:281px;
	padding:50px 0 0;
}
.aside .map-holder img {display:block;}
/* two-columns */
.two-columns{
	width:877px;
	margin:0 -15px 0 -3px;
	position:relative;
}
.two-columns h2{
	margin:0;
	color:#1b7ddf;
	font:28px/32px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow: 2px 1px 2px #CCC;
}
.two-columns .t{
	height:49px;
	overflow:hidden;
	background:url(../images/bg-two-columns-t.png) no-repeat;
}
.two-columns .b{
	height:9px;
	overflow:hidden;
	margin:0 0 0 1px;
	background:url(../images/bg-two-columns-b.png) no-repeat;
}
.two-columns .c{
	height:1%;
	margin:0 0 0 1px;
	background:url(../images/bg-two-columns-c.gif) repeat-y;
}
.two-columns .c:after{
	content:"";
	clear:both;
	display:block;
}
/* holder */
.two-columns .holder{
	width:100%;
	float:left;
	margin:-68px 0 -6px;
	padding:65px 0 0;
	position:relative;
}
/* left side */
.l-side{
	width:540px;
	float:left;
	padding:0 0 0 21px;
}
/* title holder */
.two-columns .ttl-holder{
	width:100%;
	margin:-38px 0 0;
	padding:0 0 13px;
	position:relative;
}
.two-columns .l-side .ttl-holder{
	width:560px;
	margin:-38px -10px 0 -12px;
	overflow:hidden;
	white-space:nowrap;
}
/* title */
.l-side .ttl{
	display:block;
	color:#666;
	margin:0 0 9px;
	font:16px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* info section */
.info-section{
	width:550px;
	margin:0 0 0 -10px;
	overflow:hidden;
	background:url(../images/bg-info-section.gif) repeat-y 370px 0;
}
.gallery{
  float:left;
  max-height:515px;
  overflow:hidden;
}
/* gallery list */
.gallery ul{
	margin:0;
	padding:0 0 44px;
	list-style:none;
	width:100%;
	overflow:hidden;
	position:relative;
}
.gallery ul li{
	float:left;
	width:185px;
}
.gallery ul .frame{
	width:100%;
	display:table;
	height:106px;
}
.gallery ul .frame div{
	text-align:center;
}
.gallery ul .frame .img_box{
  height:120px;
  line-height:120px;
  margin-top:6px;
  overflow:hidden;
}

.gallery ul .frame img{
    vertical-align:middle;
    border:none;
}
.gallery ul .frame a:hover img{border-color:#add2ee;}
/* rate box */
.gallery .rate{
	position:relative;
	bottom:16px;
	padding: 15px 10px 10px;
	text-align:center;
}
.gallery .rate a{margin:0 15px;}
.gallery .rate a:hover img,
.gallery .rate img{
	border:0;
	vertical-align:top;
}
/* info */
.info-section .info{
	float:right;
	display:inline;
	width:138px;
	margin:2px 10px 0 -30px;
	color:#333;
}
.info-section .info .title{
	display:block;
	font-size:12px;
}
.info-section .info p{margin:0 0 18px;}
.section-inner .info{
	margin:6px -1px 0 0;
}
.section-inner{
	background-position: 416px 0;
	margin:0 0 0 -18px;
	width:559px;
}
.section-inner .gallery{
	margin-top:6px;
	width:418px;
}
.section-inner .gallery ul{padding:0 0 20px 2px;}
.section-inner .gallery ul li{
	width:207px;
	margin: 0;
	display: inline;
	padding: 0 0 20px 0;
}
.section-inner .gallery ul .frame{
	width:201px;
	height:auto;
	display:block;
	height: auto;
}
.section-inner .gallery ul .frame a{
  border:1px solid #7D7D7D;
  cursor:pointer;
  display:block;
  position:relative;
  height:209px;
  overflow: hidden;
}
.section-inner .gallery ul .frame a:hover{
	border-color:#add2ee;
	-moz-box-shadow: 0 0 4px #AAAAAA;
	-webkit-box-shadow: 0 0 4px #AAAAAA;
	box-shadow: 0 0 4px #AAAAAA;
}
.section-inner .gallery ul .frame a:hover strong,
.section-inner .gallery ul .frame a:hover{text-decoration: none;}
.section-inner .gallery ul .frame a strong{
  background:none repeat scroll 0 0;
  color:#FFFFFF;
  display:block;
  font:20px/28px "Trebuchet MS",Arial,Helvetica,sans-serif;
  text-align:center;
  text-transform: uppercase;
}
.section-inner .gallery ul .frame a .c_Coupon{background:#3FB52B;}
.section-inner .gallery ul .frame a .c_Deal{background:#ff5f00;}
.section-inner .gallery ul .frame a .c_Event{background:#238ecb;}
.section-inner .gallery ul .frame a span{
  color:#333333;
  display:block;
  font:16px/18px "Trebuchet MS",Arial,Helvetica,sans-serif;
  margin:0 auto;
  text-align:center;
}
.section-inner .gallery .rate{
	padding:0 0 0 31px;
	overflow:hidden;
	width:160px;
	position:static;
	margin-top: 6px;
}
.section-inner .gallery .rate a{
	margin:0 5px;
	float:left;
}
.section-inner .gallery .rate .link {
	color: #666;
	font-size:13px;
	line-height:26px;
	color:#666;
}
/* share box */
.share{
	width:100%;
	padding:6px 0 25px;
}
.share .share-holder{
	float:right;
	padding:0 6px 0 0;
}
.share .title{
	float:left;
	color:#238ecb;
	font:14px/27px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* list */
.share ul{
	margin:0 0 0 -8px;
	padding:0;
	list-style:none;
	float:left;
	font-size:10px;
}
.share ul li{
	padding:0 3px 0 16px;
	float:left;
}
.share ul img{
	display:block;
	margin:0 auto;
}
.share ul span{
	display:block;
	text-align:center;
}
.share ul a{
	float:left;
	color:#238ecb;
}
/* rollover state */
.share ul a:hover,
.share ul a:hover span{text-decoration:underline;}
/* info area */
.info-area{
	width:546px;
	overflow:hidden;
	margin:0 0 14px -6px;
	position:relative;
}
.info-area .img{
	float:right;
	display:inline;
	margin:2px 10px 0;
}
* html .info-area .img{margin-left:7px;}
.info-area .img img{display:block;}
/* info box */
.info-box{overflow:hidden;}
* html .info-box{
	overflow:visible;
	height:1%;
}
/* address */
.info-box .address{
	width:100%;
	padding:0;
	font-style:normal;
}
.info-box .address span{
	display:block;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	color:#666;
}
.info-box p{
	margin:0 0 23px;
	font-size:14px;
	line-height:17px;
}
.info-box p a{
	color:#238ecb;
	font-weight:bold;
	text-decoration:underline;
}
.info-box p a:hover{text-decoration:none;}
/* button */
.info-box .btn{
	width:94px;
	height:39px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-radeem.gif) no-repeat;
}
/* information */
.information{
	width:536px;
	margin:0 0 0 -6px;
	padding:0 0 24px;
}
.information h3{
	font-size:16px;
	font-weight:normal;
	color:#666;
	margin:0 0 7px;
}
.information p{
	margin:15px 0 0 0;
	color:#666;
}
.information a{
    font-size:16px;
    font-weight:bold;
}
/* right side */
.r-side{
	padding:0 12px 0 0;
	width:262px;
	float:right;
}
.r-side h3{
	margin:0;
	font-size:12px;
}
.r-side h3 a{
	color:#2264a6;
	text-decoration:underline;
}
.r-side h3 a:hover{text-decoration:none;}
/* mark */
.r-side .mark{
	width:277px;
	margin:2px 0 13px -15px;
	position:relative;
	text-align:center;
	display:block;
	background:#fcf913;
	color:#333;
	padding:3px 0;
	font-size:11px;
}
.r-side .mark a{
	color:#238ecb;
	text-decoration:underline;
}
.r-side .mark a:hover{text-decoration:none;}
/* list */
.r-side .list{
	margin:0 0 0 -2px;
	padding:0;
	list-style:none;
	color:#333;
	height:1%;
	position:relative;
}
.r-side .list li{
	vertical-align:top;
	padding:0 0 19px;
}
.r-side .list p{margin:0;}
.r-side .frame{
	width:264px;
	margin:16px 0 0 -2px;
	position:relative;
}
/* row */
.r-side .row{
	height:1%;
	padding:0 10px 15px 0;
	overflow:hidden;
}
.r-side .row p{
	font-style:italic;
	margin:7px 0 0;
}
.r-side .row p span{display:block;}
/* bubble */
.r-side .bubble{
	float:right;
	display:inline;
	vertical-align:middle;
	width:170px;
	margin:0 12px 0 5px;
	color:#f9fbfc;
	text-align:right;
	background:url(../images/bg-bubble.gif) repeat-y -170px 0;
}
* html .r-side .bubble{margin-left:2px;}
.r-side .bubble strong{
	display:block;
	background:url(../images/bg-bubble.gif) no-repeat;
}
.r-side .bubble strong strong{
	padding:5px 12px 12px 8px;
	font-size:13px;
	line-height:15px;
	font-weight:normal;
	background:url(../images/bg-bubble.gif) no-repeat -340px 100%;
}
.r-side .blue-bubble{
	float:left;
	margin:0 5px 0 0;
	text-align:left;
	background:url(../images/bg-bubble.gif) repeat-y -680px 0;
}
* html .r-side .blue-bubble{margin:0 2px 0 0;}
.r-side .blue-bubble strong{background:url(../images/bg-bubble.gif) no-repeat -510px 0;}
.r-side .blue-bubble strong strong{
	padding:7px 8px 14px 12px;
	background:url(../images/bg-bubble.gif) no-repeat -850px 100%;
}
/* footer */
#footer {
	background:url(../images/bg-footer.gif) no-repeat;
	width:878px;

	padding:5px 0 0;
	text-align:center;
	color:#fff;
	font:12px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow:hidden;
	height:44px;
	margin:-49px auto 0;
	position:relative;
}
#footer a {color:#fff;}
#footer ul {
	margin:0;
	padding:0;
	list-style:none;
}
#footer ul li {
	display:inline;
	background:url(../images/sep-footer.gif) no-repeat 0 5px;
	padding:0 10px 0 14px;
}
#footer ul li:first-child {
	padding-left:0;
	background:none;
}
#footer p{margin:0;}
/* dealdashboard page styles */
/* header */
#header .menu{
	margin:0 -5px 0 0;
	/*padding-top:11px;*/
	list-style:none;
	float:right;
	overflow:hidden;
	font:15px/20px 'Trebuchet MS', Arial, sans-serif;
	display:inline;
}
#header .menu li{
	float:left;
	padding:0 15px;
	background:url(../images/sep-menu.gif) no-repeat 0 5px;
	margin:0 0 0 -1px;
}
#header .menu a{color:#238ecb;}
/* twocolumns */
.twocolumns{margin:0 7px 0 -4px;}
.twocolumns .holder{
	width:100%;
	overflow:hidden;
}
/* deal */
.twocolumns .deal{
	height:1%;
	overflow:hidden;
	padding:21px 45px 27px 0;
}
.twocolumns .btn-deal{
	float:right;
	text-indent:-9999px;
	background:url(../images/btn-create-deal.gif) no-repeat;
	width:105px;
	height:31px;
}
.twocolumns h2{
	margin:0;
	font:28px/35px 'Trebuchet MS', Arial, sans-serif;
	color:#1b7ddf;
}
/* twocolumns left column*/
.left-col{
	float:left;
	width:623px;
	background:url(../images/bg-left-col.gif) repeat-y;
}
.left-col .frame-b{
	background:url(../images/bg-left-col-bottom.gif) no-repeat 0 100%;
	padding:0 0 38px;
}
.twocolumns .heading .frame-t{
	overflow:hidden;
	height:1%;
}
.left-col .heading{
	background:url(../images/bg-lc-heading.gif) repeat-y;
	margin:0 0 12px;
}
.left-col .heading .frame-b{
	background:url(../images/bg-lc-heading-bottom.gif) no-repeat 0 100%;
	padding:0;
}
.left-col .heading .frame-t{
	background:url(../images/bg-lc-heading-top.gif) no-repeat;
	padding:9px 0 5px 12px;
}
/* options-form */
.options-form{
	padding:0 0 21px 15px;
	font-size:14px;
	line-height:18px;
	color:#333;
}
.options-form ul{
	margin:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.options-form ul li{float:left;}
.options-form ul a{color:#333;}
.options-form .options{padding:0 0 13px;}
.options-form .options li{
	padding:0 10px;
	margin:0 0 0 -2px;
	background:url(../images/sep-options.gif) no-repeat 0 60%;
}
.options-form ul .active a{text-decoration:underline;}
.options-form .row{padding:0 0 0 10px;}
.options-form .row li{
	overflow:hidden;
	width:130px;
}
.options-form .chk{
	margin:2px 5px 0 0;
	padding:0;
	width:16px;
	height:15px;
	float:left;
}
.options-form label{float:left; line-height: 19px;}
/* location */
.location{
	width:586px;
	border:1px solid #999;
	margin:0 0 0 13px;
	line-height:22px;
}
.location th{
	font-weight:normal;
	color:#fff;
	background:#0a71ab;
	text-align:left;
	padding:3px 0 3px 10px;
}
.location img{display:block;}
.location td{padding:2px 0 2px 10px;}
.location .left{
	float:left;
	margin:0 0 0 9px;
	display:inline;
}
.location .loc{width:75px;}
.location .offer{width:260px;}
.location .expiration{width:60px;}
.location .Used{width:40px;}
.location .actions{
	width:80px;
	text-align:center;
}
/* twocolumns right column */
.right-col{
	float:right;
	background:#90c5e3 url(../images/bg-right-col.gif) no-repeat 0 100%;
	width:228px;
	padding:0 0 23px;
	margin:0 0 18px;
}
.right-col .heading{
	background:url(../images/bg-rc-heading.gif) repeat-y;
	margin:0 0 4px;
}
.right-col .heading .frame-b{background:url(../images/bg-rc-heading-bottom.gif) no-repeat 0 100%;}
.right-col .heading .frame-t{
	background:url(../images//bg-rc-heading-top.gif) no-repeat;
	padding:15px 0 5px 12px;
}
.right-col .heading h3{
	margin:0;
	font:22px/29px 'Trebuchet MS', Arial, sans-serif;
	color:#1b7ddf;
}
.tips{
	margin:0;
	padding:0 8px 0 13px;
	list-style:none;
	font-size:14px;
	line-height:17px;
	overflow:hidden;
	height:1%;
}
.tips li{
	background:url(../images/sep-tips.gif) repeat-x 0 100%;
	padding:14px 0 11px;
	margin:1px 0 -1px;
}
.tips a{color:#01324e;}
/* myprofile page styles */
/* header */
#header .right{
	float:right;
	width:495px;
}
.right .frame{
	width:100%;
	overflow:hidden;
}
/* profile-form */
.profile-form{
	padding:16px 0 0;
	font:14px Arial, Helvetica, sans-serif;
	color:#000;
	width:521px;
	margin:0 0 0 -4px;
}
.profile-form label{
	float:left;
	width:110px;
	padding:4px 0 0;
}
.profile-form .row{
	width:100%;
	overflow:hidden;
	margin:0 0 13px;
}
.profile-form .right{
	float:right;
}
.profile-form .txt{
	float:left;
	width:380px;
	border:1px solid #7abadf;
	padding:5px 10px;
	font:14px Arial, Helvetica, sans-serif;
	color:#000;
	background:#f7f8f8;
}
.profile-form .short .right,
.profile-form .middle .right{width:402px;}
.profile-form .middle .txt{width:278px;}
.profile-form .short .txt{width:247px;}
.profile-form .sel{
	float:right;
	color:#333;
	font-size:14px;
	line-height:16px;
	margin-top:3px;
}
.profile-form .middle .sel{width:90px;}
.profile-form .short .sel{width:120px;}
.profile-form .btns{
	width:247px;
	margin:0 auto;
	overflow:hidden;
	padding:4px 0 0;
}
.profile-form .row a{
	float:left;
	padding-left: 114px;
}
.profile-form .row .btns a{
	float:right;
	padding-top: 5px;
}
.profile-form .btn-clear{
	float:right;
	background:url(../images/btn-cancel2.gif) no-repeat;
	width:74px;
	height:28px;
	text-indent:-9999px;
	line-height:0;
	cursor:pointer;
	border:0;
	margin:0 0 0 60px;
	display:inline;
}
.profile-form .btn-save{
	float:left;
	text-indent:-9999px;
	background:url(../images/btn-save.gif) no-repeat;
	width:74px;
	height:28px;
	line-height:0;
	border:0;
	cursor:pointer;
}
/* accordion */
.accordion{
	width:240px;
	border:1px solid #9a9a9a;
	background:#fff;
	margin:23px 0 0;
	padding:0;
	list-style:none;
}
.accordion .opener{
	display:block;
	height:26px;
	background:url(../images/bg-opener.gif) repeat-x;
	color:#fefefe;
	padding:0 0 0 13px;
	overflow:hidden;
}
.accordion .ui-state-active,
.accordion .opener:hover{
	background-position:0 -26px;
	text-decoration:none;
}
.accordion .slide{overflow:auto;}
.accordion a{font:18px/23px 'Trebuchet MS', Arial, sans-serif;}
/* viewbusiness page styles*/
/* signin/account area */
.account-area{
    margin-right: 10px;
	float:right;
	font:24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:28px;
	position:relative;
}
.btn-signup-open{
    color:#2264a6;
	text-decoration:underline;
}
.btn-signin-open{
	color:#2264a6;
	text-decoration:underline;
}
.btn-signin-open:hover{text-decoration:none;}
.btn-signup-open:hover{text-decoration:none;}
.account-area .holder{
	float:right;
	padding:4px 0 4px;
}
.account-area .ttl{
	float:left;
	margin:0 10px 0 0;
	font:16px/25px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#238ecb;
}
.account-area .holder img{float:left;}
.account-area p{
	margin:0 4px 0 0;
	text-align:right;
	color:#4cb1d1;
	clear:both;
	font:12px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* simplemodal popup */
.popup{
	background:#238ecb;
	border: 10px solid #56b1e5;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display:none;
	width:236px;
	padding:0 12px;
}
#simplemodal-overlay {background-color:#000;}
.popup h3{
	margin:0;
	font:bold 20px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
}
.popup a, .popup p{
    color:#FFF;
}
.popup-row{
	width:100%;
	overflow:hidden;
	margin:0 0 10px;
}
.popup-row .placeholder{color:#999}
.popup .txt{
	float:left;
	width:210px;
	font:14px Arial, Helvetica, sans-serif;
	border:1px solid #999;
	padding:4px 12px;
	margin:0;
}
.popup-buttons{
	overflow:hidden;
	height:1%;
	padding:6px 24px 3px 19px;
}
.btn-signin{
	float:left;
	background:url(../images/btn-sign-in.gif) no-repeat;
	width:70px;
	height:27px;
	text-indent:-9999px;
	line-height:0;
	border:0;
	cursor:pointer;
	padding:0;
}
.btn-signup{
	float:left;
	background:url(../images/btn-sign-up.gif) no-repeat;
	width:70px;
	height:27px;
	text-indent:-9999px;
	line-height:0;
	border:0;
	cursor:pointer;
	padding:0;
}
.btn-signin-cancel{
	float:right;
	/*background:url(../images/btn-cancel3.gif) no-repeat;*/
	background-color:#238ecb;
	color:#CCC;
	width:70px;
	height:27px;
	line-height:0;
	border:0;
	cursor:pointer;
	padding:0;
}
a.facebook-signin {
  background: url(/images/signin_facebook.png) no-repeat;
  width:150px;
  height:22px;
  text-indent:-9999px;
  line-height:0;
  border:0;
  float: left;
  margin-left:40px;
}
.remember{
	margin:0px auto;
	overflow:hidden;
}
.popup .chk{
	float:left;
	margin:4px 4px 0 0;
	padding:0;
	width:16px;
	height:15px;
}
.popup label{
	float:left;
	font:14px/22px Arial, Helvetica, sans-serif;
	color:#fff;
}
/* progress-bar */
.progress-bar {
	float:left;
	background:url(../images/progress-bar.gif) no-repeat;
	width:128px;
	height:25px;
}
.progress-bar span {
	display:block;
	height:25px;
	background:url(../images/progress-bar.gif) no-repeat 0 100%;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
}
/* merchant-area */
.merchant-area{
	width:100%;
	overflow:hidden;
}
/*content */
.merchant-area .content-frame{
	padding:11px 34px 0 16px;
	width:528px;
	overflow:hidden;
}
.merchant-area #content h2{
	font-size:28px;
	padding:0 0 12px;
	margin-left:-5px;
}
.merchant-area .info{
	width:100%;
	overflow:hidden;
	margin:0 0 37px;
}
/* contact */
.merchant-area .contact{
	float:left;
	font:14px/16px Arial, Helvetica, sans-serif;
}
.merchant-area .img{
	float:right;
	display:inline;
	margin:2px 10px 0;
}
.merchant-area .img img{
	display:block;
}
/* rate */
.merchant-area .rate{
	margin:0;
	padding:0 0 3px;
	width:100%;
	overflow:hidden;
	font-size:9px;
}
.merchant-area .rate img{vertical-align:bottom;}
.merchant-area .contact .address{
	padding:0;
	font-style:normal;
	display:block;
	font-weight:bold;
}
.merchant-area .contact .address strong{display:block;}
.merchant-area .contact .phone{display:block;}
.merchant-area .contact a{text-decoration:underline;}
.merchant-area .contact a:hover{text-decoration:none;}
.contact .social{
	margin:0;
	padding:10px 0 8px;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.contact .social li{
	float:left;
	padding:0 13px 0 0;
}
.contact .social img{display:block;}
.contact dl{
	margin:0;
	font-size:12px;
	line-height:13px;
}
.contact dd{margin:0;}
/* posts */
.posts {
	padding:0;
	font-size:12px;
	line-height:15px;
	list-style:none;
}
.posts li {margin:0 0 16px;}
.posts li .list-item {
	margin:0 0 -16px -17px;
	position:relative;
	display:block;
	color:#238ecb;
	width:18px;
	font:bold 16px/16px Arial, Helvetica, sans-serif;
}
.posts h3{
	margin:0 0 3px;
	font-size:16px;
	line-height:16px;
}
.posts h3 a{text-decoration:underline;}
.posts h3 a:hover{text-decoration:none;}
.posts p{
	text-indent:0;
	margin:0;
}
/* aside */
.merchant-area .aside{padding:50px 0 0;}
/* dealbuilder page styles */
/* login-box */
#header .login-box .menu{padding-top:11px;}
.login-box .row{
	width:100%;
	overflow:hidden;
}
/* offer-box */
.offer-box{
	margin:0 0 0 -4px;
	overflow:hidden;
	padding:80px 6px 0 0;
}
.offer-box .twocolumns{margin:0;}
.offer-box .left-col .heading{margin:0 0 8px;}
/* offer-form */
.offer-form{
	height:1%;
	overflow:hidden;
	padding:0 20px 15px 21px;
}
.offer-form p{
	line-height:16px;
	color:#333;
	margin:0 0 18px;
}
.offer-form a{
	color:#00f;
	text-decoration:underline;
}
.offer-form a:hover{text-decoration:none;}
.offer-form .row{
	width:100%;
	overflow:hidden;
	padding:7px 0 5px;
}
.offer-form label{
	float:left;
	font:14px Arial, Helvetica, sans-serif;
	color:#333;
	padding:6px 5px 0 0;
	width:73px;
}
.offer-form .sel{
	float:left;
	width:90px;
	font-size:14px;
	color:#333;
	margin:0;
}
.offer-form .sel2{
	float:left;
	width:150px;
	font-size:14px;
	color:#333;
	margin:0;
}
.offer-form .width1{
	width:70px;
	padding-top:2px;
}
.offer-form .caption{
	float:right;
	width:399px;
	color:#999;
	font-size:14px;
	line-height:18px;
}
.offer-form .two-lines{
	margin:-9px 0 0;
	position:relative;
}
.offer-form .txt{
	float:left;
	border:1px solid #999;
	padding:5px;
	width:80px;
	color:#333;
	font-size:14px;
	margin:0;
}
.offer-form .sp1{padding-top:5px; width:310px;}
.offer-form .sp2{padding-top:5px; width:345px;}
/* text-box */
.text-box{
	width:584px;
	margin:0 0 21px 13px;
	border:1px solid #999;
	background:#fff;
	overflow:hidden;
}
.text-box .title{
	overflow:hidden;
	padding:5px 9px;
	background:#0a71ab;
	color:#fff;
}
* html .text-box .title{
	overflow:visible;
	height:1%;
}
.text-box h3{
	margin:0;
	font:14px/18px Arial, Helvetica, sans-serif;
}
.text-box .text{
	overflow:hidden;
	padding:11px 10px 18px;
	font-size:14px;
	line-height:18px;
	color:#000;
}
.text-box .text1 {
	color:#000000;
	font-size:14px;
	height:80px;
	line-height:18px;
	overflow:hidden;
	padding:0 10px;
}
.text-box .text2 {
	color:#000000;
	font-size:14px;
	height:25px;
	line-height:18px;
	overflow:hidden;
	padding:0 10px;
}
* html .text-box .text{
	overflow:visible;
	height:1%;
}
.text-box .text input.sp{
    color: #000;
    border: none;
    width: 563px;


}
.text-box .placeholder{color:#999}
.text-box .text textarea{
	border:medium none;
	height:76px;
	width:563px;
	overflow:auto;
   }
.text-box .text2 textarea{
	border:medium none;
	height:23px;
	width:563px;
   }
.text-box .text p{margin:0;}
.text-box .options-form{
	padding:0;
	margin:-11px 0 -13px -9px;
	position:relative;
}
.text-box .options-form .options{padding:0 0 6px;}
/* form1 */
.form1{
	overflow:hidden;
	padding:8px 25px;
	font-size:14px;
	color:#333;
}
* html .form1{
	overflow:visible;
	height:1%;
}
.form1 .row{
	width:100%;
	overflow:hidden;
	margin:0 0 18px;
}
.form1 .left{
	float:left;
	margin:0 18px 0 0;
	display:inline;
}
* html .form1 .left{margin-right:15px;}
.form1 label{
	float:left;
	width:115px;
	padding:5px 6px 0 0;
}
.form1 .txt{
	float:left;
	border:1px solid #999;
	width:145px;
	padding:4px 5px;
	font:14px Arial, Helvetica, sans-serif;
	margin:0;
}
.form1 .w1{width:55px;}
.form1 .right{
	overflow:hidden;
	padding:5px 0 0;
	color:#999;
	line-height:20px;
}
* html .form1 .right{
	overflow:visible;
	height:1%;
}
.form1 .check{margin:0 0 26px;}

.form1 .check .left{margin:0;}
.form1 .check .right{
	float:right;
	width:440px;
	padding:0;
}
.form1 .check label{
	width:auto;
	padding:1px 0 0;
}
.form1 .chk{
	float:left;
	width:16px;
	height:15px;
	margin:0 6px 0 0;
	padding:0;
}
.form1 .center{
	float:left;
	position:relative;
	left:50%;
}
.form1 .btns-holder{
	width:100%;
	overflow:hidden;
	position:relative;
}
/* buttons */
.form1 .btns{
	position:relative;
	left:-50%;
	margin:0;
	padding:18px 7px 0 0;
	list-style:none;
	overflow:hidden;
}
* html .form1 .btns{float:left;}
.form1 .btns li{
	float:left;
	padding:0 32px 0 0;
}
.form1 .btns a{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	height:28px;
}
.form1 .btns .activate-deal{
	background:url(../images/btn-activate-deal.gif) no-repeat;
	width:108px;
}
.form1 .btns .save-draft{
	background:url(../images/btn-save-draft.gif) no-repeat;
	width:96px;
}
.form1 .btns .cancel{
	background:url(../images/btn-cancel4.gif) no-repeat;
	width:73px;
}
.form1 .placeholder{color:#999}
/* coupon */
.coupon{
	overflow:hidden;
	width:182px;
	background:#fff;
	padding:0 8px 14px 11px;
	font:14px Arial, Helvetica, sans-serif;
	color:#444;
	margin:26px 0 0 13px;
}
.coupon h4{
	color:#fff;
	text-align:center;
	width:201px;
	margin:0 -8px 5px -11px;
	font:20px/22px 'Trebuchet MS', Arial, sans-serif;
	padding:5px 0 3px;
	text-transform: uppercase;
}
.coupon .c_Coupon{background:#3FB52B;}
.coupon .c_Deal{background:#ff5f00;}
.coupon .c_Event{background:#238ecb;}
.coupon .holder{
	width:100%;
	overflow:hidden;
	position:relative;
}
.coupon .center{
	position:relative;
	float:left;
	left:50%;
}
.coupon .add-logo{
	float:left;
	position:relative;
	left:-50%;
	/*background:#ccc;*/
}

.coupon .add-logo a{
	color:#000;
	font-size:18px;
	line-height:22px;
	float:left;
	padding:7px 30px 8px;
}
.coupon .subttl{
	font-size:18px;
	line-height:22px;
	color:#000;
	text-align:center;
	display:block;
	padding:0 0 8px 0;
}
.coupon p{margin:0 0 11px;}
.coupon .code{
	border:1px solid #666;
	color:#666;
	font:20px/22px 'Trebuchet MS', Arial, sans-serif;
	text-align:center;
}
.coupon .code p{margin:0;}
/* bizprofile page styles */
/* profile-box */
.profile-box{
	width:100%;
	padding:46px 0 6px;
}
.profile-box:after{
	clear:both;
	content:'';
	display:block;
}
.profile-box .subttl{
	margin:0 0 13px 96px;
	font-size:16px;
	line-height:20px;
	color:#fff;
}
.profile-box .subttl span{float:left;}
.profile-box .subttl .inf{
	padding:0 5px 0 18px;
	background:url(../images/ico04.png) no-repeat;
	margin:0 0 0 5px;
	display:inline;
}
* html .profile-box .subttl .inf{margin-right:-3px;}
.profile-box .ttl-holder{
	overflow:hidden;
	height:1%;
	width:auto;
	padding:0 0 9px 21px;
}
.profile-box h2{
	float:left;
	margin-right:19px;
}
.profile-box .two-columns .c{background:none;}
/* location-form */
.location-form{
	float:left;
	padding:8px 0 0;
}
.location-form fieldset{float:left;}
.location-form .sel{
	float:left;
	margin:0 13px 0 0;
	font:14px Arial, Helvetica, sans-serif;
	color:#333;
}
.location-form .inf{
	float:left;
	background:url(../images/ico04.png) no-repeat;
	width:16px;
	height:18px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
}
.profile-box .l-side{
	background:url(../images/bg-twocols.gif) no-repeat -567px 100%;
	width:567px;
	padding:0 0 11px;
}
.profile-box .l-side .bottom{
	background:url(../images/bg-twocols.gif) repeat-y;
	padding:4px 0 0 21px;
	overflow:hidden;
}
* html .two-columns .l-side .bottom{
	overflow:visible;
	height:1%;
}
.profile-form .inf{
	float:left;
	background:url(../images/ico04.png) no-repeat;
	width:16px;
	height:18px;
	text-indent:-9999px;
	margin:-3px 0 0 6px;
	display:inline;
}
.profile-box .profile-form .row{margin:0 0 23px;}
.profile-box .profile-form label{
	width:119px;
	overflow:hidden;
	padding:5px 0 0;
}
.profile-box label span{float:left;}
.profile-box .profile-form .right{width:402px;}
.profile-box .profile-form .short1 .txt{width:121px;}
.profile-box .profile-form .width1 .txt{width:239px;}
.profile-box .profile-form .select-area{float:right;}
.profile-box .profile-form .select-area label{
	float:left;
	width:auto;
	padding-right:8px;
}
.profile-box .profile-form .select-area .sel{
	width:88px;
	float:left;
}
.profile-box .profile-form .width2 .txt{width:88px;}
.profile-box .profile-form .width3 .txt{width:129px;}
.profile-box .profile-form .width4 .txt{
	float:right;
	width:273px;
}
* html .profile-box .profile-form .width4 .txt{margin-left:-3px;}
.profile-box .profile-form .width5 .txt{
	width:252px;
	float:right;
}
* html .profile-box .profile-form .width5 .txt{margin-left:-3px;}
.profile-box .profile-form .width6 .txt{
	width:259px;
	float:right;
}
* html .profile-box .profile-form .width6 .txt{margin-left:-3px;}
.profile-box p{margin:6px 0 0;}
.profile-box .profile-form .btns{padding-right:10px;}
.profile-box .profile-form .btn-save{background-position:0 -28px;}
.profile-box .profile-form .btn-clear{
	background:url(../images/btn-cancel4.gif) no-repeat;
	margin:0 0 0 17px;
}
.profile-box .profile-form .btns-holder{
	width:100%;
	overflow:hidden;
	margin:-6px 0 0;
}
/* right column */
.profile-box .r-side{
	width:281px;
	background:url(../images/bg-twocols.gif) no-repeat -1415px 100%;
	padding:0 0 11px;
	margin:0 10px 0 0;
	display:inline;
}
.profile-box .r-side .bottom{
	background:url(../images/bg-twocols.gif) repeat-y -1134px 0;
	overflow:hidden;
	padding:8px 20px 0 16px;
}
* html .profile-box .r-side .bottom{
	overflow:visible;
	height:1%;
}
.profile-box .r-side h2{margin-right:7px;}
.profile-box .r-side .inf{
	float:left;
	background:url(../images/ico04.png) no-repeat;
	width:16px;
	height:18px;
	text-indent:-9999px;
	margin:8px 0 0;
}
/* bussiness-form */
.bussiness-form{
	width:100%;
	overflow:hidden;
}
.bussiness-form .row{
	width:100%;
	overflow:hidden;
	padding:0 0 10px;
	position:relative;
}
.bussiness-form label{
	display:block;
	font:14px Arial, Helvetica, sans-serif;
	color:#000;
	width:100%;
	overflow:hidden;
	padding:0 0 7px;
}
.bussiness-form label span{
	float:left;
	padding:2px 0 0;
}
.bussiness-form .txt{
	float:left;
	width:222px;
	border:1px solid #7abadf;
	padding:5px 10px;
	font:14px Arial, Helvetica, sans-serif;
	color:#000;
	background:#f7f8f8;
	margin:0;
}
.r-side .bussiness-form .inf{margin:0 0 0 5px;}
.bussiness-form .l-col{
	float:left;
	width:88px;
}
.bussiness-form .l-col label{padding-bottom:14px;}
.bussiness-form .l-col .sel{
	width:88px;
	float:left;
	font:14px Arial, Helvetica, sans-serif;
	color:#333;
	margin:0;
}
.bussiness-form .l-col .row{padding:0;}
.bussiness-form .r-col{
	float:right;
	width:136px;
}
.bussiness-form .r-col label{padding-bottom:10px;}
.bussiness-form .r-col .row{padding:0;}
.bussiness-form .r-col .txt{width:110px;}
.bussiness-form .btns-holder{
	position:relative;
	float:left;
	left:50%;
	margin:0 0 -8px;
}
.bussiness-form .btns{
	position:relative;
	float:left;
	left:-50%;
	overflow:hidden;
}
.bussiness-form .btn-save{
	float:left;
	text-indent:-9999px;
	background:url(../images/btn-save.gif) no-repeat 0 -28px;
	width:74px;
	height:28px;
	line-height:0;
	border:0;
	cursor:pointer;
	margin:0;
}
.bussiness-form .btn-cancel{
	float:left;
	text-indent:-9999px;
	background:url(../images/btn-cancel4.gif) no-repeat;
	width:73px;
	height:28px;
	line-height:0;
	border:0;
	padding:0;
	cursor:pointer;
	margin:0 0 0 19px;
	display:inline;
}
/* business-box */
.business-box{margin-top:49px;}
.business-box .frame{
	padding: 12px 33px 39px;
	width:auto;
	overflow: hidden;
}
.business-holder{
	width: 100%;
	overflow: hidden;
}
.business-box .frame h2{
	font-size:28px;
	color: #1b7ddf;
	margin: 0 0 24px -16px;
}

.business-box .col-r{
	width:266px;
	float: right;
	padding:0 11px 0 20px;
}
.business-box .col-r img{vertical-align:top;}
.btn-contact{
	width:150px;
	text-align: center;
	display: block;
	overflow: hidden;
	color: #fff;
	font: 20px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: url(../images/btn-contact.gif) no-repeat;
	margin:43px auto 0;
	padding:24px 0 30px;
	text-shadow: 2px 1px 2px #CCC;
}
.business-holder p, .business-holder ul{
	color: #1b1718;
	font-size:14px;
	line-height:17px;
	margin: 0 0 22px;
}
.business-holder p strong em{color: #0079c2;}
.business-holder p span em{
	color: #ff5c16;
	font-weight: bold;
}
.business-holder h3{
	font:24px/25px Arial, Helvetica, sans-serif;
	margin: 0
}
.connect-hold h3{color: #0079c2;}
.engage-hold h3{color: #ff5c16;}
.business-holder .engage-hold p{margin-bottom:13px;}
.business-holder .engage-hold p a{text-decoration: underline;}
.business-holder .engage-hold p a:hover{text-decoration: none;}
#errorExplanation { border: 2px solid red; }
#errorExplanation ul {
	padding-left: 15px;
	margin: 1px;
}
#errorExplanation h2 { display:none; }
.field_with_errors label { color: red; }
.charleft { display:none; }
#map {width:270px; height:360px;}
#map p {
  color: black;
}
#map-side-bar {display: none;}
#simplemodal-container a.modalCloseImg {
	background:url(/images/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}