 <div id="header">
  <!-- logo -->
  <h1 class="logo"><a href="#">Smartvark</a></h1>
  <div class="account-area">
    <!-- holder -->
    <div class="holder">
      <strong class="ttl">Welcome <span><%= current_user.name %>!</span></strong>
    </div>
    <div class="frame">
      <ul class="menu">
        <li><%= link_to_unless_current 'deal dashboard', dealdashboard_url %></li>
        <li><%= link_to_unless_current 'business profile', @business.new_record? ? new_business_url : edit_business_url(@business.id) %></li>
      </ul>
    </div>
  </div><!-- /account-area end -->
</div><!-- /account-area end -->
