<!-- footer -->
	<div id="footer">
		<ul>
			<li><a href="http://www.codemyconcept.com/projects/155/search-results.html#">what’s a smartvark anyway?</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/search-results.html#">what about my privacy?</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/search-results.html#">contact</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/search-results.html#">twitter</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/search-results.html#">facebook</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/search-results.html#">smartvark for business</a></li>
		</ul>
		<p>&copy; 2010  Smartvark, Inc.</p>
	</div>
