<% for_invite = false if local_assigns[:for_invite].nil? %>
<% unless for_invite %>
  <p>We're giving priority access to early adopters in LA. Simply sign up using Facebook or your email to start saving!</p>
<% end %>
<p><% if for_invite %><strong><% end %>Here's how it works:<% if for_invite %></strong><br/><% end %> Artie the Aardvark tracks down deals that match your tastes. We don't spam you with junk you don't want. It's that simple. Oh, and we don't charge you for our deals. They're FREE.</p>