<p>We're giving priority access to early adopters in LA.<br/>Simply sign up using Facebook or your email &amp; start saving!</p>
<p>Here's how it works:<br/>Artie the Aardvark tracks down deals that match your tastes. We don't spam you with junk you don't want. It's that simple. Oh, and we don't charge you for our deals. They're FREE.</p>
<p><a href="http://www.youtube.com/watch?v=efI6IMjUcII" id="btn-video-open" class="btn-popup-open" target="_blank">Watch a video to get the whole scoop in less than 90 seconds</a></p>