<% if logged_in? %>
  <!-- login-box -->
  <div class="right">
    <div class="frame">
      <div class="account-area">
        <!-- holder -->
        <div class="holder">
          <strong class="ttl">Welcome <span><%= current_user.login %></span></strong>
          <!-- progress-bar -->
          <div class="progress-bar"><span style="width:78px">&nbsp;</span></div>
        </div>
        <p>profile completion</p>
      </div>
    </div>
    <div class="frame">
		  <!-- menu -->
		  <ul class="menu">
			  <li><%= link_to 'my deals', mydeals_url %></li>
			  <li><%= link_to 'my profile', myprofile_url %></li>
		  </ul>
	  </div>
	</div>
<% else %>
  <!-- sign-in -->
  <div class="right">
    <div class="frame">
      <div class="account-area">
        <a href="" id="btn-signin-open" class="btn-signin-open">Sign in</a>
        <!-- popup -->
        <%= render :partial => 'user_sessions/popup' %>
      </div>
    </div>
	</div>
<% end %>
