<!-- ttl-holder -->
<div class="ttl-holder">
	<h2>My Tastes</h2>
</div>
<!-- accordion -->
<ul class="accordion">
  <% Category.all_parents.each_with_index do |category, index| %>
  <% next if category.name == "All" %>
	<li>
		<%= link_to category.clever_or_name, "#", {:class => "opener"} %>
                <div class="slide">
                  <% category.children.each do |sub_category| %>
                    <%= check_box_tag 'user[category_ids]', sub_category.id, @user.categories.include?(sub_category) %><%= sub_category.name %><br/>
                  <% end %>
                </div>
	</li>
	<% end %>
</ul>
