<!-- nav -->
<div class="nav">
  <div>
    <ul>
      <% Category.all.each_with_index do |category, index| %>
        <% html_class = begin
                  end
        %>
        <li class="<%= li_class(index, params[:category_id]) %>">
        <% if defined?(is_search) %>
          <%= link_to "<span class='#{link_class(index)}'>#{category.name}</span>", search_path(category.to_param, {:search_terms => params[:search_terms], :location => params[:location]}) %>
        <% else %>
          <%= link_to "<span class='#{link_class(index)}'>#{category.name}</span>", category_mydeals_path(category.to_param) %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

