<div id='redeem-popup' class="popup">
      <h3>!Offer lead here!</h3>
      <div class="popup-row">
        <submit value="Print deal" class="simplemodal-close"/>
      </div>
      <div class="popup-row">
        <submit value="Send to phone via text"/>
      </div>
      <div class="popup-row">
        <submit value="Send to mobile device via email"/>
      </div>
      <div class="popup-row">
        <submit value="Not now, I changed my mind" class="simplemodal-close"/>
      </div>
</div>
