<div id='redeem-popup' class="popup">
  <% if logged_in? %>
    <h3><%= @offer.title %></h3>
    <% form_for @offer, :url => printdeal_path do |f| %>
        <% if @offer.allow_print? %>
          <div class="popup-row">
            <%=
              f.submit "Print deal", :class => 'simplemodal-close',
                :onclick => "window.open('#{printdeal_path(@offer)}');return false;"
            %>
          </div>
        <% end %>
        <% if @offer.allow_mobile? %>
          <div class="popup-row">
            <%= f.submit "Send to phone via text", :class => 'simplemodel-close' %>
          </div>
          <div class="popup-row">
            <%= f.submit "Send to mobile device via email", :class => 'simplemodel-close' %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>
        <h3>Please sign in before redeeming<h3>
      </p>
    <% end %>
    <div class="popup-row">
      <input class="btn-signin-cancel simplemodal-close" type="submit" value="Cancel" />
    </div>
</div>
