<div id='redeem-popup' class="popup">
  <% if logged_in? %>
    <h3><%= @offer.title %></h3>
    <%= form_tag sms_path(@offer.id) do %>
      <% if @offer.allow_print? %>
        <div class="popup-row">
          <%=
            submit_tag "Print deal", :class => 'simplemodal-close',
              :onclick => "window.open('#{redeem_path(@offer)}');return false;"
          %>
        </div>
      <% end %>
      <% if @offer.allow_mobile? %>
        <div class="popup-row">
          <%= submit_tag "Text to phone", :class => 'simplemodel-close' %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h3>Please sign in before redeeming<h3>
  <% end %>
</div>