<div class="item">
  <div class="text">
    <h3><span>
          <%= link_to "#{search_offer.lead}" , viewdeal_url(search_offer.to_param) %>
        </span>
      </h3>
    <p><%= search_offer.description %></p>
  </div>
  <%= render :partial => 'offer_address', :object=> search_offer %>
</div>

