<% content_for :title, "About" %>
<div class="wide-box business-box">
  <div class="holder">
	  <div class="frame">
		  <h2>What's a Smartvark Anyway?</h2>
		  <div class="business-holder">
			  <div class="col-r">
				  <img src="/images/user-funnel.png" alt="Funnel Diagram" />
			  </div><!-- col-r end -->
        <%= render :partial => "about" %>
			  <a class="btn-contact" style="margin: 0 0 0 175px;" href="/deals">Try it now</a>
		  </div><!-- business-holder end -->
	  </div>
  </div>
</div><!-- business-box end -->
