<% title "About" %>
<div data-role="header" data-theme="b">
  <a href="/mypicks" data-icon="star">My Picks</a>
	<h1>About Smartvark</h1>
	<%= render :partial => "search_button" %>
</div><!-- /header -->
<div data-role="content">
  <%= render :partial => "about" %>
</div>
