<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smartvark</title>
        <%= render :partial => 'common_header' %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="#">Smartvark</a></h1>
				<ul class="menu">
					<li><a href="#">deal dashboard</a></li>
					<li><a href="#">business profile</a></li>
				</ul>
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
						<!-- twocolumns -->
						<div class="twocolumns">
							<div class="deal">
								<a href="#" class="btn-deal">Create Deal</a>
							</div>
							<div class="holder">
								<!-- left-col -->
								<div class="left-col">
									<div class="frame-b">
										<div class="heading">
											<div class="frame-b">
												<div class="frame-t">
                                                                                                  <h2><%=h @business.name %> </h2>
												</div>
											</div>
										</div>
										<!-- options-form -->
										<div class="options-form">
											<form action="#">
												<fieldset>
													<ul class="options">
														<li class="active"><a href="#">Select All </a></li>
														<li><a href="#">Select None</a></li>
													</ul>
													<ul class="row">
														<li>
															<input id="chk1" class="chk" type="checkbox" />
															<label for="chk1">Westwood</label>
														</li>
														<li>
															<input id="chk2" class="chk" type="checkbox" />
															<label for="chk2">Beverly Hills</label>
														</li>
														<li>
															<input id="chk3" class="chk" type="checkbox" />
															<label for="chk3">Malibu</label>
														</li>
														<li>
															<input id="chk4" class="chk" type="checkbox" />
															<label for="chk4">Melrose</label>
														</li>
													</ul>
												</fieldset>
											</form>
										 </div>
										<!-- location -->
                                                                                <table class="location">
<tr>
  <th class="loc">Location</th>
  <th class="offer">Offer</th>
  <th class="expiration">Expiration</th>
  <th class="used">Used</th>
  <th><img src="/images/ico-for.gif" alt="" width="15" height="16" /></th>
  <th><img src="/images/ico-against.gif" alt="" width="15" height="16" /></th>
  <th class="actions">Actions</th>
</tr>
                                                                                  <%= render :partial => 'deal_on_dashboard', :collection => @business.offers %>
										</table>
									</div>
								</div>
								<!-- right-col -->
								<div class="right-col">
									<div class="heading">
										<div class="frame-b">
											<div class="frame-t">
												<h3>Smart Tips</h3>
											</div>
										</div>
									</div>
									<!-- tips -->
									<ul class="tips">
										<li><a href="#">50% off coupons are achieving a 20% redemption rate at restaurants.</a></li>
										<li><a href="#">The best day to release offers is Thursday. Why? Most coupons are used during the weekend.</a></li>
										<li><a href="#">Free soft drink offers are currently the most successful offers, according to Restaurant Weekly magazine.</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'common_footer' %>
</body>
</html>
