<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smartvark</title>
        <%= render :partial => 'common_header' %>
	<%= javascript_include_tag 'inputs'%>
	<!--[if IE]><link rel="stylesheet" type="text/css" href="css/ie.css" /><![endif]-->
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="#">Smartvark</a></h1>
				<div class="account-area">
					<!-- holder -->
					<div class="holder">
						<strong class="ttl">Welcome <span>Merchant!</span></strong>
					</div>
					<div class="frame">
					<ul class="menu">
						<li><a href="#">deal dashboard</a></li>
						<li><a href="#">business profile</a></li>
					</ul>
					</div>
				</div><!-- /account-area end -->
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
						<!-- twocolumns -->
						<div class="offer-box">
							<div class="twocolumns">
								<div class="holder">
									<!-- left-col -->
									<div class="left-col">
										<div class="frame-b">
											<div class="heading">
												<div class="frame-b">
													<div class="frame-t">
														<h2>Create an Offer</h2>
													</div>
												</div>
											</div>
											<div class="offer-form">
												<form action="#">
													<fieldset>
														<p>Enter the details of your offer and then choose a redemption code for.  Most merchants select a code that works with their store’s point of sale system.  Typically redemption codes that are easy to say and remember work best, like HALFOFFJULY2010.  Don’t hesitate to <a href="#">contact us</a> if you have any questions</p>
														<div class="row">
															<label for="lb1" class="width1">Offer Type</label>
															<select id="lb1" class="sel">
																<option>Coupon</option>
															</select>
															<div class="caption two-lines">
																<span>Deals: sales, happy hours specials and other non-coupons Events: infrequent special promotions (ex: loyal shopper party)</span>
															</div>
														</div>
														<div class="row">
															<label for="lb2" class="width1">Category</label>
															<select id="lb2" class="sel">
																<option>Food</option>
															</select>
															<div class="caption">
																<span>Category the deal will show up in on our site</span>
															</div>
														</div>
														<div class="row">
															<label for="lb3">Begin Date</label>
															<input id="lb3" class="txt" type="text" value="" />
															<div class="caption sp1">
																<span>Date deal becomes active</span>
															</div>
														</div>
														<div class="row">
															<label for="lb4">Expiry Date</label>
															<input id="lb4" class="txt" type="text" value="" />
															<div class="caption sp1">
																<span>Date deal expires (end of day)</span>
															</div>
														</div>
													</fieldset>
												</form>
											</div><!-- /offer-form end -->
											<div class="text-box text1">
												<div class="title">
													<h3>Title of Offer (50 character maximum)</h3>
												</div>
												<div class="text text2">
													<textarea>Save Big on Our 50% off Fall Sale!</textarea>
												</div>
											</div><!-- /text-box end -->
											<div class="text-box">
												<div class="title">
													<h3>Details of Offer (200 character maximum)</h3>
												</div>
												<div class="text text1">
													<textarea>You’ll find a wide variety of great fall fashions on sale from now until September 1st. Bring a friend and get an additional 10% off. Offer expires Sept. 1, 2010.</textarea>
												</div>
											</div><!-- /text-box end -->
											<div class="text-box">
												<div class="title">
													<h3>Fine Print (200 character maximum)</h3>
												</div>
												<div class="text text1">
													<textarea>Offer valid Monday-Thursday. Not valid with any other offers.</textarea>
												</div>
											</div><!-- /text-box end -->
											<div class="text-box">
												<div class="title">
													<h3>Valid at the following locations</h3>
												</div>
												<div class="text">
													<div class="options-form">
														<form action="#">
															<fieldset>
																<ul class="options">
																	<li class="active"><a href="#">Select All </a></li>
																	<li><a href="#">Select None</a></li>
																</ul>
																<ul class="row">
																	<li>
																		<input id="chk1" class="chk" type="checkbox" />
																		<label for="chk1">Westwood</label>
																	</li>
																	<li>
																		<input id="chk2" class="chk" type="checkbox" />
																		<label for="chk2">Beverly Hills</label>
																	</li>
																	<li>
																		<input id="chk3" class="chk" type="checkbox" />
																		<label for="chk3">Malibu</label>
																	</li>
																	<li>
																		<input id="chk4" class="chk" type="checkbox" />
																		<label for="chk4">Melrose</label>
																	</li>
																		<li>
																			<input id="chk1" class="chk" type="checkbox" />
																			<label for="chk1">Westwood</label>
																		</li>
																		<li>
																			<input id="chk2" class="chk" type="checkbox" />
																			<label for="chk2">Beverly Hills</label>
																		</li>
																		<li>
																			<input id="chk3" class="chk" type="checkbox" />
																			<label for="chk3">Malibu</label>
																		</li>
																		<li>
																			<input id="chk4" class="chk" type="checkbox" />
																			<label for="chk4">Melrose</label>
																		</li>
																			<li>
																				<input id="chk1" class="chk" type="checkbox" />
																				<label for="chk1">Westwood</label>
																			</li>
																			<li>
																				<input id="chk2" class="chk" type="checkbox" />
																				<label for="chk2">Beverly Hills</label>
																			</li>
																			<li>
																				<input id="chk3" class="chk" type="checkbox" />
																				<label for="chk3">Malibu</label>
																			</li>
																			<li>
																				<input id="chk4" class="chk" type="checkbox" />
																				<label for="chk4">Melrose</label>
																			</li>
																</ul>
															</fieldset>
														</form>
													 </div><!-- /options-form end -->
												</div>
											</div><!-- /text-box end -->
											<div class="form1">
												<form action="#">
													<fieldset>
														<div class="row">
															<div class="left">
																<label for="lb5">Redemption Code</label>
																<input id="lb5" class="txt" type="text" value="" />
															</div>
															<div class="right">
																<span>Code for tracking this deal in your system</span>
															</div>
														</div>
														<div class="row">
															<div class="left">
																<label for="lb6">Redemption Limit</label>
																<input id="lb6" class="txt w1" type="text" value="" />
															</div>
															<div class="right">
																<span>Maximum number of redemptions - blank for unlimited</span>
															</div>
														</div>
														<div class="row check">
															<div class="left">
																<input id="chk5" class="chk" type="checkbox" />
																<label for="chk5">Make This a Printable Offer</label>
															</div>
															<div class="right">
																<span>Allow redemptions from a computer printout</span>
															</div>
														</div>
														<div class="row check">
															<div class="left">
																<input id="chk6" class="chk" type="checkbox" />
																<label for="chk6">Make This a Mobile Offer</label>
															</div>
															<div class="right">
																<span>Allow redemptions from a mobile device screen</span>
															</div>
														</div>
														<div class="btns-holder">
															<div class="center">
																<ul class="btns">
																	<li><a href="#" class="activate-deal">Activate Deal</a></li>
																	<li><a href="#" class="save-draft">Save as Draft</a></li>
																	<li><a href="#" class="cancel">Cancel</a></li>
																</ul><!-- /btns end -->
															</div>
														</div><!-- /btns-holder end -->
													</fieldset>
												</form>
											</div><!-- /form1 end -->
											<!-- location -->
										</div>
									</div>
									<!-- right-col -->
									<div class="right-col">
										<div class="heading">
											<div class="frame-b">
												<div class="frame-t">
													<h3>Smart Tips</h3>
												</div>
											</div>
										</div>
										<!-- tips -->
										<ul class="tips">
											<li><a href="#">50% off coupons are achieving a 20% redemption rate at restaurants.</a></li>
											<li><a href="#">The best day to release offers is Thursday. Why? Most coupons are used during the weekend.</a></li>
										</ul>
									</div><!-- /right-col end -->
									<div class="right-col">
										<div class="heading">
											<div class="frame-b">
												<div class="frame-t">
													<h3>View Your Offer</h3>
												</div>
											</div>
										</div>
										<div class="coupon">
											<h4>COUPON</h4>
											<div class="holder">
												<div class="center">
													<div class="add-logo">
														<a href="#">Add Logo</a>
													</div>
												</div>
											</div>
											<span class="subttl">Save Big on Our 50% <br />off Fall Sale!</span>
											<p>You’ll find a wide variety of great fall <br />fashions on sale from now until <br />September 1st. Bring a friend and<br />get an additional 10% off. <br />Offer expires Sept. 1, 2010</p>
											<div class="code">
												<p>HALFOFFJULY2010</p>
											</div>
										</div>
									</div><!-- /right-col end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer">
		<ul>
			<li><a href="#">what’s a smartvark anyway?</a></li>
			<li><a href="#">what about my privacy?</a></li>
			<li><a href="#">contact</a></li>
			<li><a href="#">twitter</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">smartvark for business</a></li>
		</ul>
		<p>&copy; 2010  Smartvark, Inc.</p>
	</div>
</body>
</html>
