<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smartvark</title>
	<link href="stylesheets/web.css" rel="stylesheet" type="text/css" media="all"/>
	<!--[if IE]><link rel="stylesheet" type="text/css" href="stylesheets/ie.css" /><![endif]-->
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="#">Smartvark</a></h1>
                                <%= render :partial => 'login', :locals => { :new_user => false } %>
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
						<div class="wide-box business-box">
							<div class="holder">
								<div class="frame">
									<h2>Smartvark for Business</h2>
									<div class="business-holder">
										<div class="col-r">
											<img src="images/biz-funnel.png" alt="Funnel Diagram" />
											<a class="btn-contact" href="mailto:sales@smartvark.com?subject=Smartvark.com+inquiry">Contact us</a>
										</div><!-- col-r end -->
										<p>We are an online marketing company that <strong><em>connects</em></strong> local businesses with motivated consumers who are eager to discover new places to shop and dine. Our mascot, Artie the Aardvark, presents them with discounts, sales, special events, and other smart offers that are tailored to their personal tastes, <span><em>engaging</em></span> casual shoppers and turning them into loyal, long-term customers.</p>
										<div class="connect-hold">
											<h3>Connect</h3>
											<p>Finding customers is hard enough, but finding the right customers can sometimes seem impossible; using our proprietary SmartConnect technology, we introduce you to those most likely to become repeat customers. By analyzing their preferences and behaviors, we present only the most relevant offers to each individual, making them more likely to respond. All offers can be printed from our website, and you have the option to allow customers to redeem offers from their cellphones, making it as painless as possible for them to find you on the go and show up at your front door.</p>
										</div><!-- connect-hold end -->
										<div class="engage-hold">
											<h3>Engage</h3>
											<p>We know that you&rsquo;re interested in more than a one-time customer looking for a deep discount. That's why we've designed our platform to cultivate long-term, profitable relationships with your audience. SmartConnect enables you to consistently inform customers about your regular happy-hour, end of season sale, or new product launch. Our dashboard interface gives you insight into the effectiveness of each of your offers, as well as local trends to help your campaigns succeed. By keeping customers up-to-date, you keep your business top-of-mind.</p>
											<p>Limited marketing budgets are no longer a limitation to reaching your audience effectively. <a href="mailto:sales@smartvark.com?subject=Smartvark.com+inquiry">Contact us</a> to find out how you can harness the power of SmartConnect to take your marketing to the next level.</p>
										</div><!-- engage-hold end -->
									</div><!-- business-holder end -->
								</div>
							</div>
						</div><!-- business-box end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'common_footer' %>
</body>
</html>
