<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>smartvark - try it</title>
        <%= stylesheet_link_tag 'web' %>
        <%= javascript_include_tag 'main', 'inputs' %>
	<!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="/">Smartvark</a></h1>
				<!-- login-box popup-holder -->
				<div class="login-box popup-holder">
					<a href="http://www.codemyconcept.com/projects/155/#" class="btn-login open">Log in</a>
					<!-- popup -->
					<div class="popup">
						<form action="#">
							<fieldset>
								<input type="text" class="txt" value="username" />
								<input type="password" class="txt" value="password" />
								<input type="submit" class="sbm" />
								<a href="http://www.codemyconcept.com/projects/155/#" class="cancel close">cancel</a>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
                    	<!-- welcome-box -->
						<div class="tryit-box">
							<!-- text -->
							<div class="text">
								<p>It looks like you're in <strong>Los Angeles, CA</strong>. If we're wrong, let us know.</p>
							</div>
							<!-- promo-box -->
							<div class="promo-box">
                            <input type="text" class="text-input" value="city, state or zip"/><input type="image" src="images/btn-update.gif" class="button" alt="Update"/>
                            <!--
								<strong class="ttl-give-a-try">Give it a try</strong>
								<a href="http://www.codemyconcept.com/projects/155/#" class="btn-show-deals">Show me the deals!</a>
                            -->
							</div>
						</div>
						<!-- two-columns -->
						<div class="two-columns">
							<div class="t"></div>
							<div class="c">
								<!-- holder -->
								<div class="holder">
									<!-- l-side -->
									<div class="l-side">
										<!-- ttl-holder -->
										<div class="ttl-holder">
											<h2>Artie's Picks</h2>
										</div>
										<strong class="ttl">Just rate the deals below and Artie will sniff out more that you'll probably like.  The more you rate, the better we get to know you!</strong>
										<!-- info-section -->
										<div class="info-section">
											<div class="info">
												<strong class="title">Sports Authority:</strong>
												<p>$25 off $100, expires 6/11/10.</p>
												<p>To redeem online, use code TSA8977 or send to your phone.</p>
												<p>Some Dick's Sporting Goods and other similar stores *may* accept this coupon.</p>
											</div>
											<!-- gallery -->
											<div class="gallery">
												<ul>
													<li>
														<div class="frame">
															<div>
																<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/img06.jpg" alt="image" /></a>
															</div>
														</div>
														<div class="rate">
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-good.gif" alt="+" /></a>
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-bad.gif" alt="-" /></a>
														</div>
													</li>
													<li>
														<div class="frame">
															<div>
																<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/img07.jpg" alt="image" /></a>
															</div>
														</div>
														<div class="rate">
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-good.gif" alt="+" /></a>
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-bad.gif" alt="-" /></a>
														</div>
													</li>
												</ul>
												<ul>
													<li>
														<div class="frame">
															<div>
																<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/img08.jpg" alt="image" /></a>
															</div>
														</div>
														<div class="rate">
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-good.gif" alt="+" /></a>
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-bad.gif" alt="-" /></a>
														</div>
													</li>
													<li>
														<div class="frame">
															<div>
																<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/img09.jpg" alt="image" /></a>
															</div>
														</div>
														<div class="rate">
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-good.gif" alt="+" /></a>
															<a href="http://www.codemyconcept.com/projects/155/inner.html#"><img src="images/btn-bad.gif" alt="-" /></a>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- r-side -->
									<div class="r-side">
										<!-- ttl-holder -->
										<div class="ttl-holder">
											<h2>My Picks</h2>
										</div>
										<span class="mark">You added XYZ deal to My Picks. <a href="http://www.codemyconcept.com/projects/155/inner.html#">Undo</a> or <a href="http://www.codemyconcept.com/projects/155/inner.html#">Use It Now</a>.</span>
										<!-- list -->
										<ul class="list">
											<li>
												<h3><a href="http://www.codemyconcept.com/projects/155/inner.html#">DSW Shoes- 50% OFF on everything.</a></h3>
												<p>Flat $6.95 Shipping. Shop Today!</p>
												<p>Exp. 5/21/10</p>
											</li>
											<li>
												<h3><a href="http://www.codemyconcept.com/projects/155/inner.html#">Bob's Burritos- Buy One Get One Free.</a></h3>
												<p>Good at Westwood location only</p>
												<p>Exp. 6/11/10</p>
											</li>
											<li>
												<h3><a href="http://www.codemyconcept.com/projects/155/inner.html#">Uncle Sam's Quick Lube- $7 off your Next Oil Change.</a></h3>
												<p>Offer not valid with any other offers.</p>
												<p>Exp. 6/18/10</p>
											</li>
											<li>
												<h3><a href="http://www.codemyconcept.com/projects/155/inner.html#">Moondance- 20% OFF all silver jewelry.</a></h3>
												<p>Good at Montana Ave. location only</p>
												<p>Exp. 8/11/10</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer">
		<ul>
			<li><a href="http://www.codemyconcept.com/projects/155/inner.html#">what’s a smartvark anyway?</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/inner.html#">what about my privacy?</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/inner.html#">contact</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/inner.html#">twitter</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/inner.html#">facebook</a></li>
			<li><a href="http://www.codemyconcept.com/projects/155/inner.html#">smartvark for business</a></li>
		</ul>
		<p>&copy; 2010  Smartvark, Inc.</p>
	</div>
</body>
</html>
