<div data-role="page">

	<div data-role="header" data-theme="b">
	  <a href="/m/mypicks" data-icon="star">My Picks</a>
		<h1>Artie's Picks</h1>
          <%= link_to "Search", mobile_search_url, :class => 'ui-btn-right', 'data-icon'=>'search_white','data-transition' => 'pop' %>
	</div><!-- /header -->

	<div data-role="content">
          <div data-role="fieldcontain" id="list-header">
          <%= render :partial => 'category_filter' %>
          </div>
          <ul data-role="listview" data-theme="d" id='offers_list'>
            <%= render :partial => 'offers', :collection => @offers || [] %>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
