<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>smartvark</title>
        <%= render :partial => 'common_header' %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
                                <h1 class="logo"><a href="/">Smartvark</a></h1>
                                <%= render :partial => 'login' %>
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
						<!-- welcome-box -->
						<div class="welcome-box">
							<!-- text -->
							<div class="text">
								<p>Welcome to the home of your local deal sniffer!  Artie, your smart shopping guide, scours the local scene and presents you with deals that you actually care about.  Once you rate the offers he will find more offers to match your preferences, while weeding out the junk!  </p>
							</div>
							<!-- promo-box -->
							<div class="promo-box">
								<strong class="ttl-give-a-try">Give it a try</strong>
								<a href="/deals" class="btn-show-deals">Show me the deals!</a>
							</div>
						</div>
						<!-- wide-box -->
						<div class="wide-box">
							<!-- holder -->
							<div class="holder">
								<div class="frame">
									<h2>Some of the deals in your area</h2>
									<!-- promo-section -->
									<div class="promo-section">
										<div class="item">
											<a href="http://www.codemyconcept.com/projects/155/#"><img src="images/img01.gif" alt="image" /></a>
										</div>
										<div class="item">
											<a href="http://www.codemyconcept.com/projects/155/#"><img src="images/img02.gif" alt="image" /></a>
										</div>
										<div class="item">
											<a href="http://www.codemyconcept.com/projects/155/#"><img src="images/img03.gif" alt="image" /></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'common_footer' %>
</body>
</html>
