<% content_for :title, "Merchant Agreement" %>
<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>Merchant Agreement</h2>
			<div class="business-holder">
				<p>KEY TERMS (not a substitute for reading the whole agreement)
				<ul>
					<li>Offer credits: a single credit enables you to place one offer, valid at one location, for up to one month. If your offer runs more than one month or at more than one location you will be charged the appropriate number of credits. For example, an offer valid at two (2) locations for two and a half (2.5) months would require six (6) credits.</li>
					<li>Refunds: available for any unused prepaid service fees, minus volume discount promotions</li>
					<li>No exclusivity clause: we don't prevent you from promoting elsewhere</li>
					<li>Trademark license: we need your permission to use your logo to promote your offer</li>
				</ul></p>
				<p>PLEASE READ THIS AGREEMENT IN ITS ENTIRETY. </p>
				
				<p>BY SELECTING THE "I ACCEPT" BUTTON, YOU AGREE TO THE FOLLOWING TERMS AND CONDITIONS (THE "AGREEMENT") GOVERNING YOUR USE OF SMARTVARK’S ONLINE ADVERTISING SERVICE (THE "SERVICE"). IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE RIGHT, POWER AND AUTHORITY TO ENTER INTO THIS AGREEMENT AND TO BIND SUCH ENTITY TO THIS AGREEMENT, IN WHICH CASE THE TERM “CUSTOMER” SHALL REFER TO SUCH ENTITY FOR THE PURPOSES OF THIS AGREEMENT. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT PROCEED AND MAY NOT USE THE SERVICE.</p>
				
				<p>BACKGROUND</p>
				
				<p>The Service is designed to help merchants advertise special promotions for their products and services using the Smartvark internet website (the “Smartvark Website”). Smartvark provides certain online advertising creation and development tools (the “Smartvark Tools”) which can be used to assist in the creation of advertisements for display on the Smartvark Website. Smartvark provides customer support (“Smartvark Customer Support”) to parties using the Smartvark Tools to create such advertisements. </p>
				
				<p>AGREEMENT</p>
				
				<p>1. Customer’s registration for, or use of, the Service shall be deemed to be Customer’s agreement to abide by this Agreement including any materials available on the Smartvark Website incorporated by reference herein, including but not limited to Smartvark’s privacy policy available at http://smartvark.com/privacy (the “Privacy Policy”), which Smartvark reserves the right to modify in its reasonable discretion from time to time.</p>
				
				<p>2. Creation of Advertisement. Customer will use the Smartvark Tools to create its advertisement (the “Customer Advertisement”), and will submit its advertisement to Smartvark for publication on the Smartvark Website.</p>
				
				<p>3. Approval of Customer Advertisement. Upon submission of Customer Advertisement, Smartvark will review Customer Advertisement and determine whether Customer Advertisement is suitable for the Smartvark Website. </p>
				
				<p>4. Regulation of Content. </p>
				
				<p>4.1. Customer Responsibility to Place Suitable Advertisements. Customer agrees not to include in a Customer Advertisement any material which violates or infringes the rights of any person or which a reasonable person would consider abusive, profane or offensive, which is defamatory or harassing, or which violates or encourages others to violate any applicable law. Smartvark is relying on Customer to editorially control the content of the Customer Advertisement. Smartvark reserves the right to decline to publish or remove the Customer Advertisement if it deems that the Customer Advertisement is unsuitable for the Smartvark Website, detrimental to Smartvark or any person, or if Smartvark, in its sole discretion, determines that the Customer Advertisement violates or infringes the intellectual property or other rights of a third party. As detailed in Section 7, below, if Smartvark rejects or terminates a Customer Advertisement and the Customer is unable or unwilling (or Smartvark does not offer customer the opportunity) to reform Customer Advertisement so that Smartvark agrees to publish it on the Smartvark Website, then this Agreement shall be deemed terminated.</p>
				
				<p>4.2. Smartvark Ability to Cooperate with potentially harmed third parties and Law Enforcement. To protect itself, Smartvark may, without liability, actively cooperate with and furnish identifying and supporting information to any person likely to be harmed by Customer's violation of these provisions, and to any law enforcement agency serving a warrant or subpoena on Smartvark. </p>
				
				<p>5. Prices &amp; Payment. </p>
				
				<p>5.1. Advertising Fee. In order to purchase offer credits (“Offer Credits”) to place Customer Advertisements on the Smartvark Website, Customer shall pay Smartvark an advertising fee (the “Ad Fee’) that compensates Smartvark for placing and operating the Customer Advertisement on the Smartvark Website. Unless other terms are specifically agreed to in writing by Smartvark, and subject to the other terms of this Agreement, each Offer Credit enables Customer to place one (1) Customer Advertisement, valid at one (1) business location, on the Smartvark Website for a period of up to thirty one (31) days. The Ad Fee is determined, and shown for the Customer to accept, on the Smartvark Website at the time of submission. The Advertising Fee is prepaid to Smartvark by major credit card, PayPal and/or similar payment services. </p>
				
				<p>5.2. Declined or Fraudulent Payments. Any declined or fraudulent payment shall be subject to costs of collection, including reasonable legal fees. </p>
				
				<p>6. Intellectual Property Matters. </p>
				
				<p>6.1. Customer Grant of Rights. Customer grants Smartvark a non-exclusive worldwide license and right to use, reproduce, license, display, distribute and transmit Customer’s name, logo, trademarks, photographs, graphics, artwork, text and other content (collectively, “Customer Intellectual Property”) provided by Customer in connection with the Customer Advertisement and in Smartvark’s own promotional materials that list current and prior Smartvark customers. Customer represents and warrants that Customer owns all right, title and interest in Customer Intellectual Property, and has the right to grant the licenses granted to Smartvark in this Agreement. Customer further represents and warrants that any advertising or promotion of Customer's products and services using the Service will not constitute false, deceptive or unfair advertising or disparagement under any applicable laws, and that the grant of rights to Smartvark to use Customer’s Intellectual Property will not violate any copyright, trademark, or other intellectual property right or right of privacy or publicity of any third party or any laws.</p>
				
				<p>6.2. Limited License to Use the Smartvark Tools and Customer Support; No Warranty. Smartvark grants Customer a nonexclusive limited license to use the Smartvark Tools, including and any templates or web wizards included therein, and Smartvark Customer Support, in accordance with the Terms of this Agreement. As detailed in Section 10 below, Smartvark does not warranty or guarantee these Smartvark Tools or the Smartvark Customer Support in any manner. Further, it is Customer’s responsibility to make certain that Customer’s browser works with Smartvark Tools, and Smartvark does not guarantee that the Smartvark tools will work with all browsers.</p>
				
				<p>6.3. Smartvark Reservation of Intellectual Property Rights. Smartvark shall own and retain all right, title and interest, into the Service, the Smartvark Tools, the Smartvark Customer Support, and all Smartvark names, brands, logos, trade or service marks, technology, copyrights, patents, know-how, feedback, recommendation, service enhancement requests or initiatives, trade secrets and other Smartvark intellectual property (collectively, the “Smartvark Intellectual Property”). Accordingly, no license is made to Customer of any of the Smartvark Intellectual Property, and this Agreement does not convey to customer any rights of license or ownership in the Smartvark Intellectual Property. </p>
				
				<p>6.4. Customer Agreement Regarding Smartvark Intellectual Property. Customer shall not (i) license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Smartvark Intellectual Property; (ii) modify or make derivative works based upon the Service or the Smartvark Intellectual Property; (iii) create Internet "links" to the Service or "frame" or "mirror" any content from the Service or the Smartvark Website, or (iv) reverse engineer or access the Service or any Smartvark Intellectual Property in order to (a) build a competitive product or service, (b) build a product using similar ideas, features, functions or graphics of the Service, or (c) copy any ideas, features, functions or graphics of the Service or the Smartvark Website. </p>
				
				<p>6.5. Prior Written Consent is Required to Use “Smartvark.” Other than items specifically provided by Smartvark to Customer for Customer’s use, nothing in this Agreement gives Customer any right to publish or use any trademark, service mark, logo or name of Smartvark in any advertisement, sales promotion or press release without Smartvark’s prior written consent, separate from this Agreement.</p>
				
				<p>6.6. Confidential Information. In the event that Customer receives, from Smartvark or its agents, directly or indirectly, in connection with Customer’s use of the Service or the Smartvark Website, any information which Smartvark has not made generally available to the public, Customer acknowledges and agrees that such information is confidential and Customer will not disseminate such information to any person.</p>
				
				<p>6.7. Injunctive Relief. The parties acknowledge that violation by Customer of the provisions of this Section 6 would cause irreparable harm to the Smartvark not adequately compensable by monetary damages. In addition to other relief, it is agreed that temporary and permanent injunctive relief shall be available to Smartvark without necessity of posting bond to prevent any actual or threatened violation of such provisions.</p>
				
				<p>7. Term and Termination; Refunds. The Term of this Agreement (the “Term”) shall commence when Customer Advertisement is submitted for inclusion on the Smartvark Site, and shall end when all potential renewals, if any, of the Customer Advertisement have expired. Further, either party may terminate this Agreement, and the placement of the Customer Advertisement on the Smartvark Website, at any time upon giving the other party written notice, via e-mail which confirms the recipient’s receipt of such message.</p>
				
				<p>7.1. Smartvark Termination for Convenience. Smartvark reserves the right to suspend or terminate the Customer Advertisement at any time without cause and "for convenience," subject to a refund consistent with the Smartvark Refund Policy, set forth in Section 7.5 hereof, of Ad Fees paid to Smartvark by Customer.</p>
				
				<p>7.2. Smartvark Termination in Event of Customer Breach. Smartvark may terminate this Agreement immediately upon Customer’s (i) breach of its payment obligations, (ii) unauthorized use of the Service, (iii) unauthorized use of disclosure Smartvark’s Intellectual Property or confidential information, (iv) reasonably suspected infringement of any third party’s intellectual property, and (v) any other breach of this Agreement. In such event Smartvark, in its sole discretion, may terminate Customer’s username, password, account or use of the Service, without any refund to Customer of Ad Fees. As further detailed in the Privacy Policy, Smartvark has no obligation to retain any Customer data, and may delete such Customer data, in the event of a breach of this Agreement by Customer. </p>
				
				<p>7.3. Customer Termination for Convenience. Customer reserves the right to terminate this Agreement “for convenience”, and request the removal from the Smartvark Website of the Customer Advertisement, subject to a refund consistent with the Smartvark Refund Policy, set forth in Section 7.5 hereof, of Ad Fees paid to Smartvark by Customer.</p>
				
				<p>7.4. Customer Termination in Event of Smartvark Breach. Customer may elect to terminate the Agreement in the event that Smartvark materially breaches any provision of this Agreement and fails within three (3) days of written notice thereof to correct such breach or commence corrective action with respect to such breach. In such event, Customer will be entitled to a refund consistent with the Smartvark Refund Policy, set forth in Section 7.5 hereof, of Ad Fees paid to Smartvark by Customer.</p>
				
				<p>7.5. Smartvark Refund Policy: </p>
				
				<p>7.5.1. Customers who purchase Offer Credits without any volume discount will be refunded the Ad Fees paid with respect to wholly unused Offer Credits (no refund will be made for partially used Offer Credits). </p>
				
				<p>7.5.2. Customers who purchased Offer Credits on a volume basis and received a volume discount for such Offer Credits will be refunded as if their Offer Credit package was purchased without a volume discount. Please refer to the example immediately below:</p>
				
				<p><i>Example:</i></p>
				
				<p><i>If Customer purchased twelve (12) Offer Credits for the Smartvark advertised price of ten (10) Offer Credits, and then used two (2) of the Offer Credits, Smartvark would refund Customer for eight (8) Offer Credits.</i></p>
				
				<p>8. Customer Indemnification. Customer agrees to defend, indemnify and hold Smartvark, its affiliated and related entities, and any of their officers, directors, agents and employees, harmless from and against any claims, lawsuits, investigations, liabilities, penalties, damages, losses or expenses (including but not limited to attorney's fees and costs) arising out of or relating to any of the following: (i) any breach or alleged breach by Customer of this Agreement or the representations and warranties herein; (ii) any claim for all sales, use, gross receipts, Goods and Services Tax, value-added, personal property or other tax or levy (including interest and penalties) imposed on the services and deliverables provided by in connection with a Customer Advertisement; (iii) any claim arising out of or relating to the products and services provided by Customer, including but not limited to, any claims for false advertising, product defects, personal injury, death, or property damages. Without limiting the foregoing, Customer shall pay any monies owed to any party, as well as all attorney's fees, related to any action against or determinations against Smartvark related to any of the foregoing.</p>
				
				<p>9. Limitation of Liability.</p>
				
				<p>EXCEPT FOR CUSTOMER’S INDEMNIFICATION OBLIGATIONS HEREUNDER, IN NO EVENT SHALL: (A) EITHER PARTY BE LIABLE OR OBLIGATED TO THE OTHER PARTY OR ANY THIRD PARTY IN ANY MANNER FOR ANY SPECIAL, INCIDENTAL, EXEMPLARY, CONSEQUENTIAL, PUNITIVE, OR INDIRECT DAMAGES OF ANY KIND REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, NEGLIGENCE, STRICT PRODUCT LIABILITY, OR OTHERWISE, EVEN IF INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGES IN ADVANCE; (B) SMARTVARK'S AGGREGATE LIABILITY TO CUSTOMER FOR ANY CLAIMS ARISING OUT OF OR RELATING TO THIS AGREEMENT EXCEED AN AMOUNT EQUAL TO AD FEES PAID TO SMARTVARK. THIS LIMITATION OF LIABILITY SHALL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.</p>
				
				<p>10. Smartvark Warranty Disclaimer.</p>
				
				<p>SMARTVARK SHALL USE ITS BEST EFFORTS TO PROVIDE QUALITY SERVICE AND CORRECT ANY ERROR IN A TIMELY MANNER. NOTHWITHSTANDING THE FOREGOING, THE SERVICES, AND ALL OTHER TECHNOLOGY OR OTHER DELIVERABLES OF SMARTVARK ARE SUPPLIED BY SMARTVARK STRICTLY ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OR GUARANTEE. , EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON- INFRINGEMENT. SMARTVARK DOES NOT WARRANT OR GUARANTEE THAT THE SERVICE SHALL BE UNINTERRUPTED OR ERROR-FREE, THAT THE CUSTOMER ADVERTISEMENT WILL BE ERROR-FREE OR THAT ANY ERRORS, OMISSIONS OR MISPLACEMENTS IN THE CUSTOMER ADVERTISEMENT WILL BE CORRECTED, OR THAT THE CUSTOMER ADVERTISEMENT WILL RESULT IN ANY REVENUE OR PROFIT FOR CUSTOMER.</p>
				
				<p>11. Internet Delays.</p>
				
				<p>THE SERVICES MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE USE OF THE INTERNET AND ELECTRONIC COMMUNICATIONS. SMARTVARK IS NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, OR OTHER DAMAGE RESULTING FROM SUCH PROBLEMS.</p>
				
				<p>12. Force Majeure. Customer agrees that Smartvark is excused from any failure or delay in performance of responsibilities otherwise imposed by this Agreement for any cause beyond its reasonable control. Such causes include, without limitation, fires, floods, storms, earthquakes, civil disturbances, disruption of telecommunications, transportation, utilities or necessary supplies, governmental action, computer viruses and incompatible or defective equipment, software or services not supplied by Smartvark. Nothing herein enlarges any warranty or diminishes any disclaimer provided in this Agreement.</p>
				
				<p>13. Local Law and Export Control. The Services and the Smartvark Website use software and technology that may be subject to United States export controls administered by the U.S. Department of Commerce, the United States Department of Treasury Office of Foreign Assets Control, and other U.S. agencies and the export control regulations of the United States. Customer acknowledges and agrees that the site shall not be used, and none of the underlying information, software, or technology may be transferred by Customer or otherwise exported or re-exported by Customer to countries as to which the United States maintains an embargo (collectively, "Embargoed Countries"), or to or by a national or resident thereof, or any person or entity on the U.S. Department of Treasury's List of Specially Designated Nationals or the U.S. Department of Commerce's Table of Denial Orders (collectively, "Designated Nationals"). The lists of Embargoed Countries and Designated Nationals are subject to change without notice. Further, the Services and the Smartvark Website may use encryption technology that is subject to licensing and export requirements under the U.S. Export Administration Regulations, 15 C.F.R. Parts 730-774 and Council Regulation (EC) No. 1334/2000, and Customer agrees to comply with all such requirements.</p>
				
				<p>14. Disputes, choice of law. The Customer and Smartvark agree that this Agreement shall be governed by and construed in accordance with the laws of California (without regard to its conflicts of laws principles), and any action shall be initiated and maintained in the state and federal courts of Los Angeles, Country, California, and Customer hereby consents to such jurisdiction within such courts, and waives any claim that such venue is an inconvenient forum.</p>
				
				<p>15. Survival of Certain Provisions. The terms and provisions set forth in Sections 4-10, 13, 14, 16, 18 and 21 of this agreement shall survive its termination indefinitely.</p>
				
				<p>16. Entire Agreement. This Agreement and the Privacy Policy constitute the entire agreement between the Smartvark and Customer with respect to the subject matter hereof and supersede all other communications, whether written or oral. </p>
				
				<p>17. Amendment. This Agreement may be modified or amended only by a writing signed by both Smartvark and Customer. </p>
				
				<p>18. Severability. Any provision hereof found by a tribunal of competent jurisdiction to be illegal or unenforceable shall be automatically conformed to the minimum requirements of law and all other provisions shall remain in full force and effect. </p>
				
				<p>19. Waiver. Waiver of any provision hereof in one instance shall not preclude enforcement thereof on other occasions. </p>
				
				<p>20. Headings. Headings are for reference purposes only and have no substantive effect. </p>
				
				<p>21. Independent Contractors. Each of Smartvark and Customer are an independent contractor in relation to the other party with respect to all matters arising under this Agreement.</p>
				
				<% if current_user.contract_accepted_at.blank? %>
					<p>FOR ADEQUATE CONSIDERATION AND INTENDING TO BE LEGALLY BOUND, THE PARTIES HERETO HAVE CAUSED THIS AGREEMENT TO BE ENTERED INTO AND MADE EFFECTIVE BY CUSTOMER’S ACCEPTANCE OF THIS AGREEMENT BY CLICKING THE “I ACCEPT” BUTTON BELOW.</p>
				
					<%= link_to "I Accept", params.merge(:accept => true), class: "btn-contact" %>
				<% else %>
					<p>AGREEMENT WAS ACCEPTED ON <%= l current_user.contract_accepted_at, :format => :us_date %></p>
				<% end %>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
