<% title "My Deals" %>
<div data-role="header" data-theme="b" data-backbtn="false">
  <img src="/images/logo-mobile.png"/>
  <% if false %>
  <%= link_to 'My Picks', mypicks_path, "data-icon" => "check" %>
  <%= render :partial => "search_button" %>
  <% end %>
</div><!-- /header -->

<div data-role="content">
  <ul data-role="listview" data-theme="d">
    <%= render :partial => 'offer', :collection => @offers %>
  </ul>
</div><!-- /content -->