<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>!OFFER LEAD HERE!</title>
</head>
<body>
  <h1>!OFFER LEAD HERE!</h1>
  <h2>!BUSINESS NAME HERE!</h2>
  <h3>!BUSINESS CONTACT INFO HERE</h3>
  <img src="COUPON IMAGE HERE"/>
  <p>!DEAL DESCRIPTION HERE!</p>
  <p>Expires on: expiry_date</p>
  <p>Fine print: exclusivity_text</p>
  <h2>Cashier use code: redemption_code</h2>
</body>
</html>
