<% content_for :title, "Privacy Policy" %>
<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>Privacy Policy</h2>
			<div class="business-holder">
				<%= render :partial => "privacy_policy" %>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
