<% content_for :title, "Privacy Policy" %>
<div data-role="header" data-theme="b">
	<h1>Privacy Policy</h1>
</div><!-- /header -->
<div data-role="content">
  <%= render :partial => "privacy_policy" %>
  <a href='#' data-rel="back" data-role="button" data-theme="a">I Accept</a>
</div>
