      </script>
	<script language="javascript">
	  $('.ui-btn-back').live('tap',function() {
      history.back(); return false;
    }).live('click',function() {
      return false;
    });
  </script>
<div data-role="page">
	<div data-role="content" data-theme="a">
		<h3>Search</h3>
    <% form_tag(mobile_search_path(1), :method => :get) do %>
            <label for="search_terms">Search For:</label>
            <%= text_field_tag 'search_terms', params[:search_terms], :placeholder => 'search terms' %>
	    <label for="location">Location:</label>
            <%= text_field_tag 'location', params[:location], :placeholder => 'city, state or zip' %>

		  <fieldset class="ui-grid-a">
				<div class="ui-block-a"><button type="submit" data-theme="a">Search</button></div>
				<div class="ui-block-b"><a href='#' class="ui-btn-back" data-role="button" data-theme="d">Cancel</a></div>
	    </fieldset>
    <% end %>
	</div><!-- /content -->
</div><!-- /page -->
