<% title "Terms of Service" %>
<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>Terms of Service</h2>
			<div class="business-holder">
				<%= render :partial => "terms_of_service" %>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
