<% content_for :title, "Terms of Service" %>
<div data-role="header" data-theme="b">
	<h1>Terms of Service</h1>
</div><!-- /header -->
<div data-role="content">
  <%= render :partial => "terms_of_service" %>
  <a href='#' data-rel="back" data-role="button" data-theme="a">I Accept</a>
</div>
