
                  <p>
                  <%= business.phone_1 %><br/>
                  <%= business.address %><br/>
                  <%= business.city_state_zip%><br/>
                  <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= URI.escape([business.address, business.city_state_zip ].join(',')) %>">Map It</a>
                  </p>
