<label for="category-filter" class="select">Category:</label>
<%= select_tag :c_id, options_from_collection_for_select(
  Category.all_except('All'),'id','name',params[:category_id]),
  {:class => 'category-filter', :id => 'category-filter',
    :onChange => remote_function(:url => { :action => 'mobile_filter' },
                                 :update => 'offers_list',
                                 :with => "'category_id=' + value"
                                )
  }
  %>

