<li>
  <h3><%= link_to offers.title, mobile_viewdeal_path(offers.id) %></h3>
  <p><strong><%= offers.businesses.first.try(:name) %></strong></p>
  <p><%= offers.businesses.first.try(:city_state_zip) %></p>
</li>
