<div data-role="page">

	<div data-role="header" data-theme="e">
		<h1>Search Results</h1>
		<a href="search.html" data-icon="search-white" data-transition="pop" class="ui-btn-right">Search</a>
	</div><!-- /header -->

	<div data-role="content">
	  <div data-role="fieldcontain" id="list-header">
            <p><strong>Results for &quot;<%= params[:search_terms] %>&quot; near <%= params[:location] %></strong></p>
	    <label for="category-filter" class="select">Category:</label>
            <%= render :partial => 'category_filter' %>
	  </div>
		<ul data-role="listview" data-theme="d" id='offers_list'>
                  <%= render :partial => 'offers', :collection => @offers || [] %>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
