<!DOCTYPE html> 
<html> 
	<head> 
	<title>Smartvark</title> 
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" href="/images/touch-icon.png" />
	<link rel="apple-touch-startup-image" href="/images/splash.png" />
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
	<link rel="stylesheet"  href="/stylesheets/mobile.css" />  
	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head> 
<body> 
 
<div data-role="page"> 
 
	<div data-role="header" data-theme="c"> 
		<h1>Offer Lead</h1> 
		<a href="search.html" data-icon="search-white" data-transition="pop" class="ui-btn-right">Search</a>
	</div><!-- /header --> 
 
	<div data-role="content" data-theme="b">
	  <div class="ui-body">
		  <a href="index.html"><img src="http://s3.amazonaws.com/smartvark-dev/logos/1/thumb/smartvarklogo.png?1286834065" class="logo" /></a>
		  <h2>Biz Name</h2>
		  <p>
		    (310) 439-8933<br/>
		    45 Thornton Ave<br/>
		    Venice, CA 90291<br/>
		    <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Venice,+CA+90291&sll=33.996214,-118.468878&sspn=0.067887,0.169086&ie=UTF8&hq=&hnear=California+90291&z=13">Map It</a>
		  </p>
		</div>
		<ul data-role="listview" data-inset="true" data-theme="d"> 
	    <li> 
		    <h3><a href="viewdeal.html">Offer Lead</a></h3>
		    <p>Description</p>
	    </li> 
		</ul>
	</div><!-- /content --> 
</div><!-- /page --> 
 
</body> 
</html> 
