<p>We've created a personalized invitation link for you to share. Go forth and shareth!</p>
<% invited = User.where(:invited_by_id => current_user.id) %>
<% if invited.count > 0 %>
  <% signed_up = invited.where(:invitation_token => nil).count %>
  <p>
    You have invited <strong><%= invited.count %></strong> people and <strong><%= signed_up %></strong> of them have signed up. 
  </p>
<% end %>