<p><%= @resource.invited_by.email %> has invited you to get priority access to Smartvark: Local Deals. Personalized. If you'd like to know more about the site, <%= link_to 'click here to watch our short Youtube video', 'http://www.youtube.com/watch?v=efI6IMjUcII' %>.

<p><%= link_to 'Click here to go to Smartvark.com and accept the invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>If you don't want to accept the invitation, please ignore this email. We won't email you again.</p>
