	<div id="footer">
		<ul>
			<li><a href="/about">what’s a smartvark anyway?</a></li>
			<li><a href="/privacy">what about my privacy?</a></li>
			<!--<li><a href="/contact">our team</a></li>
			<li><a href="/contact">contact</a></li>-->
			<li><a href="http://twitter.com/smartvark" target="_blank">twitter</a></li>
			<li><a href="http://facebook.com/smartvark" target="_blank">facebook</a></li>
			<li><a href="/biz">smartvark for business</a></li>
		</ul>
		<p>&copy; <%= Time.now.year %> Smartvark, Inc.</p>
	</div>
